
.general-content {
  &.gc-white {
    h1, h2, h3, h4, h5, h6, p, pre, li, blockquote {
      color: white;
    }
    > * {
      color: $white;
    }
  }
  &.gc-black {
    h1, h2, h3, h4, h5, h6, p, pre, li, blockquote {
      color: $text-black;
    }
    > * {
      color: $text-black;
    }
  }
  .fw-300 {
    font-weight: 300;
  }
  .fw-400 {
    font-weight: 400;
  }
  .fw-700 {
    font-weight: 700;
  }
  p, li, pre, blockquote {
    line-height: 1.44em;
  }
  p {
    font-size: 18px;
    & strong {
      font-weight: bold;
    }
  }
  & ul, ol {
    margin: 10px 0;
    margin-left: 20px;
    & li {
      margin-bottom: 5px;
      font-size: 18px;
    }
  }
  & ul {
    list-style-type: disc;
  }
  & ol {
    list-style-type: decimal;
  }
  h1, h2, h3, h4, h5, h6, p, li, pre, blockquote {
    a, span {
      @include inherit();
    }
  }
  // Spacing
  > * {
    margin-bottom: 23px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  // after > * !!!
  h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.22em;
    // due to line height and the fact p tags normally follow headers (and also have large line height)
    // we need to lessen the margin bottom on headers to make the spacing actually look equal
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
    // lots of times we have a small header on top of a larger one with small spacing
    & + h1,
    & + h2,
    & + h3,
    & + h4,
    & + h5,
    & + h6 {
      margin-top: -10px;
    }
  }
  & h1 {
    font-weight: 700;
  }
  & h2 {
    font-weight: 700;
  }
  h3 {
  }
  & img {
    max-width: 100%;
    height: auto;
    &.aligncenter {
      display: block;
      margin: 0 auto;
      @include media-type(phone) {
        max-width: 100%;
        height: auto;
      }
    }
  }
  & a, li a{
    color: #f7931d;
    &.btn {
      color: #ffffff;
    }
  }
  & table{
    width: 100%;
    margin: 10px 0;
    border-collapse:collapse;
    & td,
    & th{
      padding: 10px;
      font-size: 16px;
      line-height: 22px;
      font-weight: 400;
    }
  }
}

#contentPage {
  & .single {
    & .hero {
      margin-bottom: 0;
      @include media-type(655px) {
        min-height: 0;
        padding: 100px 0;
      }
    }
  }
}
