@media screen and (min-width: 1025px) {
  body.home {
    .scroll-animate {
      position: relative;
      -webkit-transform: translate3d(0, 120px, 0);
      -mox-transform: translate3d(0, 120px, 0);
      -o-transform: translate3d(0, 120px, 0);
      -ms-transform: translate3d(0, 120px, 0);
      transform: translate3d(0, 120px, 0);
      -webkit-transition: all .8s cubic-bezier(0.165, 0.840, 0.440, 1.000);
      -moz-transition: all .8s cubic-bezier(0.165, 0.840, 0.440, 1.000);
      -o-transition: all .8s cubic-bezier(0.165, 0.840, 0.440, 1.000);
      transition: all .8s cubic-bezier(0.165, 0.840, 0.440, 1.000);
      opacity: 0;
      &.show {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        -mox-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
    }
  }
}