.LeftImage, .RightImage, .LeftTextWithButtonImageRight {
  @include padding-y(30px);
  @include flex(f-aic);
  min-height: 450px;
  @include media-type(laptop) {
    min-height: 450px !important;
  }
  @include media-type(phone) {
    @include padding-y(10px);
  }
  & .lg-container{
    padding: 0 30px;
    .col {
      img {
        max-width: 100%;
      }
      &.centered{
        text-align: center;
      }
    }
    & .content-col{
      max-width: 640px;
      padding-left: 50px;
      @include media-type(laptop) {
        max-width: 550px;
      }
      @include media-type(phone){
        max-width: 100%;
        padding: 20px;
      }
      @include media-type(399px){
        padding: 0;
      }
      & p{
        max-width: 90%;
        @include media-type(phone){
          max-width: 100%;
        }
      }
    }
    & .img-col{
      max-width: 750px;
      @include media-type(laptop) {
        max-width: 600px;
        text-align: center;
      }
      @include media-type(phone){
        max-width: 100%;
      }
      & img{
        -webkit-box-shadow: 8px 2px 21px 2px #d6d6d6;
        -moz-box-shadow: 8px 2px 21px 2px #d6d6d6;
        box-shadow: 8px 2px 21px 2px #d6d6d6;
      }
    }
  }
}
.leftImage{
  & .lg-container{
    & .content-col{}
  }
}
.RightImage{
  & .row{
    @include media-type(phone, min){
      @include flex(row_reverse);
    }
  }
}