


.AboutBannerPanel{
  height: 705px;
  width: 100%;
  position: relative;
  @include bg-cover();
  .about-banner-content{
    width: 100%;
    max-width: 1420px;
    padding: 0 30px;
    margin: 0 auto;
    .ab-left{
      width: 100%;
      max-width: 680px;
      h1{
        color: $blue-font;
        font-size: 62px;
        font-weight:600;
        line-height:70px;
        margin-bottom: 30px;
      }
      .next-panel-animate{
        a{
          @include transition();
          position: relative;
          color:$blue-font ;
          font-weight:500;
          font-size: 13px;
          padding-left: 5px;
          &:before, &:after{
            @include transition();
            font-family: "fontawesome";
            position: absolute;
            content: "\f107";
          }
          &:before{
            right: -32px;
            top: -4px;
            font-size: 17px;
          }
          &:after{
            right: -40px;
            top: -8px;
            font-size: 40px;
          }

          &:hover{
            &:before{
              top: -1px;
            }
            &:after{
              top: -5px;
            }
          }

        }
      }
    }
  }

}

@media screen and (max-width: 1280px){

  .AboutBannerPanel{
    height: 600px;
    .about-banner-content {
      .ab-left {
        h1 {
          font-size: 52px;
          line-height: 60px;
        }
      }
    }
  }

}


@media screen and (max-width: 1024px){
  .AboutBannerPanel{
    height: 500px;
    .about-banner-content {
      .ab-left {
        max-width: 500px;
        h1 {
          font-size: 48px;
          line-height: 56px;
        }
      }
    }
  }
}



@media screen and (max-width: 1024px){
  .AboutBannerPanel{
    height: 400px;
    .about-banner-content {
      .ab-left {
        h1 {
          font-size: 40px;
          line-height: 48px;
        }
      }
    }
  }
}

@media screen and (max-width: 760px){
  .AboutBannerPanel{
    height: 380px;
    .about-banner-content {
      .ab-left {
        max-width: 340px;
        h1 {
          font-size: 32px;
          line-height: 40px;
        }
      }
    }
  }
}