.gp-accordian-container{
  .accordian-content{
    padding-top: 20px;
    padding-bottom: 20px;
    & a{
      color: map-get($palette, blue);
    }
    .sub-accordian-container{
      padding-bottom: 10px;
      .sub-accordian-title{
        width: 100%;
        padding-bottom: 10px;
        font-weight:bold;
        font-size: 20px;
        cursor: pointer;
      }
      .sub-accordian-content{
        display: none;
        .inner-content{
          @include _flex_row(wrap);
          .gp-left{
            width: 200px;
            font-weight:bold;
          }
          .gp-right{
            -webkit-box-flex: 1 1 200px;
            -moz-box-flex: 1 1 200px;
            -webkit-flex: 1 1 200px;
            -ms-flex: 1 1 200px;
            flex: 1 1 200px;
          }
        }

      }
    }
  }
}
.gp-accordian-container{
  margin: 3px;
  &.open{
    .fa-plus-circle{
      display: none;
    }
    .fa-minus-circle{
      display: block;
    }
    .accordian-title{

    }
    .accordian-content{
      height: auto;
    }
  }
  .fa-plus-circle{
    display: block;
  }
  .fa-minus-circle{
    display: none;
  }
  .fa{
    color: white;
  }
  .accordian-title{
    //@include _flex_row(nowrap);
    @include flex(flex, nowrapi, ai_center);
    background: map-get($palette, blue);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    padding-left: 40px;
    cursor: pointer;
    padding-right: 20px;
    p{
      padding-left: 25px;
      padding-top: 24px;
      padding-bottom: 24px;
      font-size: 24px;
      line-height: 30px;
      color: white;
      margin-bottom: 0;

    }
  }
  .accordian-content{
    padding: 3.3vw;
    display: none;
    ol, ul{
      margin-bottom: 0;
      li{
        font-size: 18px;
        color: #5a5a5a;
      }
    }
  }
}
@media screen and (max-width: 1100px){
  .gp-accordian-container{
    .accordian-title{
      padding-left: 30px;
      p{
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 22px;
        line-height: 28px;
      }
    }
  }
}
@media screen and (max-width: 768px){
  .gp-accordian-container{
    .accordian-title{
      padding-left: 26px;
      p{
        padding-left: 18px;
        padding-top: 18px;
        padding-bottom: 18px;
        font-size: 18px;
        line-height: 24px;
      }
    }
  }
}
@media screen and (max-width: 500px){
  .gp-accordian-container{
    .accordian-title{
      padding-left: 22px;
      p{
        padding-left: 16px;
        padding-top: 16px;
        padding-bottom: 16px;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}