
.AccreditationCPT{
    min-height: 586px;
    h3{
        margin-bottom: 20px;
    }
    h2{
        margin-bottom: 100px;
    }
    .accreditations-slider{
        height: 0;
        overflow: hidden;
        &.slick-initialized{
            height: auto;
            overflow: visible;
        }
        .logo{
            @include padding-x(20px);
        }
    }
}