@mixin btn() {
  position: relative;
  border: $btn-border;
  text-decoration: none;
  text-align: $btn-text-align;
  letter-spacing: $btn-letter-spacing;
  padding: $btn-padding;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  border-radius: $btn-border-radius;
  outline: $btn-outline;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: $btn-display;
  min-width: 130px;
  font-size: $btn-font-size;
  line-height: $btn-line-height;
  //text-transform: $btn-text-transform;
  font-weight: $btn-font-weight;
  color: #FFFFFF;
  cursor: pointer;
  &:disabled, &.disabled {
    cursor: default;
  }
}

.btn, .general-content .btn {
  @include btn();
  &.btn-grey {
    background-color: map-get($palette, grey);
    &:hover,
    &:focus {
      background-color: map-get($palette, blue);
    }
  }
}
.general-content .btn{
  margin-top: 5px;
}
.general-content{
  .shortcode-button{
    margin: 10px 0;
    display: inline-block;
    & > a{
      @include btn();
    }
  }
}