.CalculateYourEarnings {
  @include bg-cover;
  @include padding-y(15px);
  @include media-type(phone) {
    background-position: 0 50%;
  }

  .title1 {
    margin-bottom: 10px;
    font-size: 24px;
  }
  .title2 {
    font-weight: 400;
    margin-bottom: 40px;
  }
  .title3 {
    margin-bottom: 25px;
  }
}