.CenteredTextOverVidOrImage {
  position: relative;
  overflow: hidden;
  min-height: 557px;
  @include bg-cover();
  @include flex(flex,ai_center);
  .container {
    max-width: 745px;
  }
  h2, p{
    color: map-get($map: $palette, $key: grey);
    //text-shadow: 0px 2px 4px rgba(#000, .25);
  }
  &.light{
    h2, p{
      color: $white;
      //text-shadow: 0px 2px 4px rgba(#000, .5);
    }
  }
}
