.CenteredPanel{
  padding: 20px 0;
  & .general-content{
    & a{
      color: map-get($palette, blue);
      &.btn {
        color: #ffffff;
      }
    }
    & p + p {
      margin-top: 20px;
    }
  }
}