.shortcode {
  &.Chart {
    padding: 80px 0;
    @include media-type(phone) {
      overflow-x: auto;
      padding: 20px 0;
    }
    & .chartContainer{
      min-width: 768px;
      &.full{
        min-width: 900px;
      }
    }
    & .chartTable{
      padding-top: 50px;
      & .rows{
        & .row{
          @include flex(ai_center);
          & .col{
            padding: 40px 30px;
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            text-align: center;
            background-color: transparent;
            color: #5a5a5a;
            @include flex(flex, column, wrap, jc_center, ai_center);
            @include media-type(phone) {
              flex-basis: 0;
              flex-grow: 1;
            }
            & .icon{
              max-width: 33px;
              margin: 0 auto;
              margin-bottom: 5px;
              & img{
                max-width: 100%;
              }
            }
            &.col-1{
              font-weight: 500;
            }
            &.col-2{
              border-left: 1px solid #afafaf;
              min-height: 160px;
            }
          }
        }
        &.headings{
          & .row{
            background-color: map-get($palette, blue);
            & .col{
              color: white;
              font-weight: 500;
              padding: 20px 30px;
              &.col-2{
                min-height: 0;
              }
            }
          }
        }
      }
    }
  }
}