


.ContactContentCenterPanel{
  width: 100%;
  @include bg-cover();

  .cccp-inner{
    text-align: center;
    max-width: 800px;
    margin:0 auto;
    padding: 200px 30px;
    .cccp-title{
      margin-bottom: 30px;
    }

    .cccp-git{
      text-align: center;
      margin-top: 40px;
      a{
        @include a-hover-before();
        @include transition();
        font-size: 14px;
        font-weight: 500;
        &:after{
          content: "\f067";
          font-weight:300;
          right: -20px;
          top: -8px;
          font-size: 12px;
          color: $green-animation;
        }
        &:hover{
          color: $green-animation;
          &:after{
            right: -20px;
            top: -8px;
          }
        }
      }
    }
    h1,h2,h3,h4,h5,h6,p,a{
      //color: $black;
    }
  }

}


@media screen and (max-width: 1024px){

  .ContactContentCenterPanel {
    padding: 100px 30px;
  }
}