

.ContentCenterPanel{
  width: 100%;
  max-width: 1100px;
  margin:0 auto;
  padding: 80px 30px;


  .ccp-inner{
    width: 100%;
    text-align: center;
    .ccp-title{
      margin-bottom: 40px;
      padding-bottom: 30px;
      border-bottom: 2px solid $grey2;
    }
    h1,h2,h3,h4,h5,h6,p,a,li{
      color: $black;
    }

    ul{
      list-style: circle;
    }
    ol{
     list-style: decimal;
    }
    ol,ul{
      padding-left: 22px;
      li{
        margin-bottom: 12px;
        line-height: 20px;
      }
    }

  }

}


@media screen and (max-width: 1024px){

  .ContentCenterPanel{
    padding: 40px 30px 30px ;
    .ccp-inner{
      .ccp-title{
        margin-bottom: 30px;
        padding-bottom: 20px;
      }
    }
  }

}