.CustomersCPT {
  min-height: 220px;
  background-color: #989898;


  .slider-container {
    display: flex;
    .arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;

      @include media-type(tablet) {
        display: none !important;
      }
      
      &.left-arrow {
        left: 0;
        
        @include media-type(1200px) {
          display: none !important;
        }
      }
      &.right-arrow {
        right: 0;
        @include media-type(1200px) {
          display: none !important;
        }
      }
      & i{
        font-size: 37px;
        color: #5A5A5A;
        transition: color 0.3s;
        &:hover{
          color: map-get($palette, blue);
        }
      }
    }

    .customers-slider {
  
      @extend .container;
      
      .logo {
        @include padding-x(50px);
      }
    }
  }
}