.ExploreCPT {
  min-height: 1300px;
  & h3{
    &.sub{
      padding-bottom: 10px;
    }
  }
  & h2{
    &.main{
      padding-bottom: 50px;
      @include media-type(phone) {
        padding-bottom: 30px;
      }
    }
  }
  .card {
    min-height: 468px;
    position: relative;
    @include media-type(phone) {
      max-width: 375px;
    }
    & .full-study-link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
    }

    &.side {
      min-height: 376px;
      margin: auto;
      margin-bottom: $gutter-size * 2;

      .cimg {
        flex: 1 1 50%;
        position: relative;
        @include bg-cover;
        @include media-type(phone) {
          flex: 1 1 100%;
          max-height: 250px;
          height: 250px;
        }
      }
      .cbody {
        flex: 1 1 50%;
        padding: 66px 80px;
        
        @include media-type(phone) {
          
          padding: 45px 15px;
        }
        p:not(.bold) + p {
          margin-top: 1em;
        }
      }
      & .excerpt-read-more {
        display: none;
      }
    }
    
    
    &:not(.side) {
      @include media-type(phone) {
        @include padding-x(15px);
      }
      .cimg {
        @include bg-cover;
        flex: 1 1 100%;
        max-height: 250px;
      }
      .cbody {
      padding: 45px 15px;
    }
    }
  }
}