.featured {
  min-height: 785px;
  @include flex(flex, ai_center);
  & .title{
    font-size: 35px;
    font-weight: 700;
    color: #5a5a5a;
    line-height: 40px;
  }
  & .subtitle{
    font-weight: 300;
  }

  .slider-container {
    @include flex(flex, jc_center);
    margin-top: 50px;
    margin-bottom: 40px;
    @include media-type(tablet) {
      padding-right: 0;
    }
    @include media-type(phone) {
      justify-content: center;
      margin-top: 20px;
    }
    @include media-type(640px){
      padding-left: 0;
    }

    .arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      @include media-type(tablet) {
        display: none !important;
      }

      &.left-arrow {
        left: 0;
        @include media-type(1200px) {
          display: none !important;
        }
      }
      &.right-arrow {
        right: 0;
        @include media-type(1200px) {
          display: none !important;
        }
      }
      & i{
        font-size: 37px;
        color: #5A5A5A;
        transition: color 0.3s;
        &:hover{
          color: map-get($palette, blue);
        }
      }
    }

    .featured-slider {
      max-width: 1304px;
      height: 0;
      overflow: hidden;
      &.slick-initialized {
        height: auto;
        overflow: visible;
      }

      @include media-type(1440px) { //4
        width: 1068px;
      }
      @include media-type(1024px) { //4
        width: 919px;
      }
      // @include media-type(768px) { //3
      @include media-type(938px) {
        width: 706px;
      }
      @include media-type(720px) { // 3

        width: 656px;
      }
      @include media-type(680px) { // 2
        width: 100%;
      }

      .slide {
        outline: 0;
        padding: 0 7.5px;
        height: 400px;
        width: 328px;

        @include media-type(1440px) {
          width: 266px;
        }
        @include media-type(phone) {
          height: 400px;
        }
        @include media-type(768px) {
          width: 258px;
        }

        @include media-type(720px) { // 3
          width: 240px;
        }
        @include media-type(680px) { // 2
          //width: 192px;
        }
        .card {
          height: 100%;
          position: relative;
          @include bg-cover();
          -webkit-border-radius: 12px;
          -moz-border-radius: 12px;
          border-radius: 12px;
          .cbody {
            position: relative;
            &::after {
              content: '';
              @include posa();
              z-index: 6;
              opacity: 0.4;
              background: $black;
              transition: all .3s;
              @include media-type(tablet) {
                opacity: 0;
              }
            }
          }
          & .clink{
            & a{
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              opacity: 0;
              visibility: hidden;
            }
          }
          & > .overlay{
            content: '';
            @include posa();
            z-index: 6;
            opacity: 0;
            background: map-get($palette, blue);
            transition: all .3s;
            @include media-type(tablet) {
              opacity: 0.76;
            }
          }

          &:hover {
            & > .overlay{
              opacity: 0.76;
            }
            .text {
              opacity: 1;
              bottom: 5%;
            }
            & .cbody{
              &::after{
                opacity: 0;
              }
            }
          }
          .cheader, .cbody, .text {
            padding-left: 9%;
            padding-right: 9%;
          }
          .cbody {
            width: 100%;
            position: relative;
            z-index: 10;
          }
          .clink{
            & a{
              opacity: 1;
              visibility: visible;
              z-index: 30;
            }
          }
          .cheader {
            position: absolute;
            z-index: 20;
            top: 0;
            left: 0;
            width: 100%;
            padding-top: 50px;
            & h3 {
              font-weight: 400;
            }
          }
          .text {
            position: absolute;
            z-index: 50;
            bottom: 0;
            left: 0;
            width: 100%;
            opacity: 0;
            transition: bottom .3s ease, opacity .3s ease;
            @include media-type(tablet) {
              opacity: 1;
              bottom: 5%;
            }
            p {
              font-weight: lighter;
              line-height: 20px;
            }
            & .btn-container{
              margin: 0 auto;
              margin-top: 20px;
              max-width: 90%;
            }
          }

        }
      }
    }
  }
}