.FindNearestLocation{
    position: relative;
    h2{
        @include media-type(phone){
            text-align: center;
        }
      &.title{
        font-weight: 700;
      }
    }
    .map-wrapper{
        position: relative;
        height: 545px;
        .map{
            @include posa();
            #infowindow-content{
                display: inline;
                .title{

                    font-weight: bold;
                }
                span{
                    color: map-get($map: $palette, $key: grey);
                }
            }
            // .gm-style {
            //   div:not(:first-child) {

            //     opacity: 0;
            //   }
            // }
        }
    }

    .container-wrapper{
        position: relative;
        z-index: 50; // make box shadow on top of map
        padding-top: 68px;
        padding-bottom: 68px;

        @include flex(flex, ai_center);

        //position: absolute;
        //top: 0;
        //left: 0;
        //width: 100%;

        background-color: rgba(#fff, 1);
        &::after{
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 4px;
            @include gradient-vertical( rgba(black, 0.15), rgba(black, 0 ) );
        }
    }

    .container{

        .input-group{
            @include margin-x(-$gutter-size);
            @include flex(jc_end);

            @include media-type(phone){
                @include margin-x(unset);
                @include flex(jc_center);
                width: 100%;

            }
            .input{
                background-color: #dedede;
                max-width: 350px;
            }
            .right{

                @include media-type(640px){
                    width: 100%;
                }
                .btn{
                    min-width: 120px;
                    @include media-type(640px){
                        width: 100%;
                    }
                }
            }
        }
    }

}

// autocomplete dropdown box
.pac-container{
    top: 100% !important;
    right: 117px !important;
    left: unset !important;

    @include media-type(phone){
        right: 191px !important;
    }
    @include media-type(640px){
        top: 50% !important;
        right: unset !important;
    }

}

// infowindow hides it when it's not being used
#infowindow-content{
    display: none;
}