.FooterForm {
  padding: 80px 50px;
  background: transparent no-repeat center center /cover;
  & .container {
    text-align: center;
  }
  & h2 {
    color: #FFFFFF;
    font-weight: $bold;
    margin-bottom: 20px;
  }
  & p {
    color: #FFFFFF;
  }
  & form{
    margin: 20px auto;
    max-width: 580px;
  }
  & div.wpforms-container-full {
    width: 100%;
    margin-bottom: 0;
    & .wpforms-form {
      & .wpforms-field-container {
        width: 100%;
        & .wpforms-field {
          padding: 5px 10px;
          &.wpforms-one-half{
            @include media-type(549px) {
              width: 100%;
              margin-left: 0;
            }
          }
        }
        & .split-input {
          width: 50%;
          display: inline-block;
        }
        & input {
          height: auto;
          display: $input-display;
          padding: $input-padding;
          font-size: $input-font-size;
          line-height: $input-line-height;
          color: $input-text-color;
          background-color: $input-bg;
          background-clip: $input-bg-clip;
          border: $input-border;
          transition: $input-transition;
          flex: 1 1 auto;
          width: 100%;
          max-width: 100%;
          margin-bottom: 0;
          position: relative;
          border: 1px solid #a5a5a5;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          border-right: none;
          @include media-type(phone) {
            height: auto;
          }
        }
      }
      & .wpforms-field-captcha {
        & label {
          color: #FFFFFF;
        }
        & input {
          width: 100px;
          display: inline-block;
        }
        & span {
          color: #FFFFFF;
        }
      }
      & .wpforms-submit-container {
        width: 100%;
        padding: 5px 10px;
        & button {
          //border: 2px solid map-get($palette, red);
          border: none;
          width: auto;
          min-width: 200px;
          margin: 20px auto 0;
          &:hover{
          }
        }
      }
      & label.wpforms-error {
        color: white;
        margin-top: 5px;
      }
    }
  }
}

@media screen and (max-width: 639px) {
  .FooterForm {
    padding: 40px 0;
    & .wpforms-container-full {
      max-width: 100%;
      & .wpforms-form {
        & .wpforms-field-container {
          & .split-input {
            width: 100%;
            display: block;
          }
        }
      }
    }
  }
}