.input-group {
  @include flex(flex,wrap,ai_stretch);
  position: relative;
  width: 100%;

  .left,.right {
    display: flex;
    .btn {
      position: relative;
      z-index: 2;
    }
  }
  .left {
    margin-right: -1px;

    &:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    .btn {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  .right {
    margin-left: -1px;

    //&:not(:last-child) {
    //  border-top-right-radius: 0;
    //  border-bottom-right-radius: 0;
    //}
    
    //.btn {
    //  border-top-left-radius: 0;
    //  border-bottom-left-radius: 0;
    //}
  }

}


.input {
    display: $input-display;
    width: $input-width;
    min-height: $input-height;
    padding: $input-padding;
    font-size: $input-font-size;
    line-height: $input-line-height;
    color: $input-text-color;
    background-color: $input-bg;
    background-clip: $input-bg-clip;
    border: $input-border;
    border-radius: $input-border-radius;
    transition: $input-transition;
}

.input-group {
  
  &.break {

    .input {

      @include media-type(640px) {
        flex: unset;
        width: 100%;
        max-width: unset !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
        margin-bottom: $input-break-margin-bottom-phone;
      }
    }
  }

  & > .input {
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
    position: relative;
  }
}

form.wpcf7-form {
  max-width: 1250px;
  padding: 45px 15px;
  width: 100%;

  span {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    input,textarea {
      width: 100%;
      height: 100%;
      padding: 10px 15px;
      font-size: 14px;
      line-height: 16px;
      font-weight: 500;
      border-bottom: 5px solid;
      border-top: 1px solid;
      border-right: 1px solid;
      border-left: 1px solid;
      border-color: map-get($palette, primary);
      transition: border-color .3s;

      &:focus {
        border-color: map-get($palette, secondary);
      }
    }
    textarea {
      min-height: 210px;
    }
  }

  label {
    float: left;
    text-align: left;
    width: 100%;
    color: $black;
  }
}

body{
  .container,
  & .shortcode{
    & .wpforms-container{
      & form{
        & label{
          color: #5a5a5a;
        }
        & button.wpforms-submit{
          @include btn();
          background-color: map-get($palette, blue);
          color: white;
          &:hover{
            background-color: map-get($palette, darkBlue);
            border: none;
          }
        }
      }
    }
  }
}