.ForegroundImageOrVideo {
  .container {
    .row {
      .col {
        video, img {
          max-width: 100%;
          width: 100%;
          height: auto;
        }
      }
      .content {
        & p {
          padding-bottom: 20px;
        }
      }
    }
  }
}