.ForegroundImageWithTitleAndButton {
  @include flex(f-aic);
  @include padding-y(15px);
  .container {
    .row {
      .col {
        video, img {
          max-width: 100%;
          width: 100%;
          //box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
        }
      }
    }
  }
}