.HomePanel2 {
  min-height: 350px;
  position: relative;
  margin-bottom: 175px;
  padding-top: 50px;
  @include media-type(phone) {
    padding-top: 10px;
  }
  & h2 {
    font-size: 35px;
    font-weight: 700;
    color: #5a5a5a;
    @include media-type(phone) {
      font-size: 29px;
    }
    @include media-type(399px) {
      font-size: 20px;
      line-height: 28px;
    }
    &.title {
      padding: 10px 0;
      margin-bottom: 20px;
      text-align: center;
      @include media-type(phone) {
        margin-bottom: 10px;
      }
      @include media-type(399px) {
        margin-bottom: 10px;
      }
    }
  }
  & h3 {
    font-size: 30px;
    font-weight: 700;
    @include media-type(1280px) {
      font-size: 25px;
    }
    @include media-type(399px) {
      font-size: 16px;
    }
  }
  & p {
    font-size: 18px;
    font-weight: 400;
    @include media-type(1280px) {
      font-size: 15px;
    }
    @include media-type(399px) {
      font-size: 12px;
    }
  }
  img {
    max-width: 100%;
  }
  & .general-content {
    & * {
      color: #5a5a5a;
    }
  }
  & .row {
    @include flex(jc_space_between, ai_center);
    & .col {
      margin-top: 20px;
    }
    & .contentcol {
      max-width: 400px;
      flex: 1;
      @include media-type(laptop) {
        max-width: 350px;
      }
      @include media-type(tablet) {
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding: 20px 0;
      }
    }
    & .imagescol {
      padding-left: 20px;
      @include flex(flex, nowrap);
      @include flex-right();
      flex: 1;
      @include media-type(tablet) {
        width: 100%;
        @include flex(jc_center);
        padding: 0 20px;
        flex-wrap: nowrap;
        flex: auto;
      }
      @include media-type(639px) {
        padding: 0;
      }
      & .imagecol {
        text-align: right;
        max-width: 419px;
        @include media-type(laptop) {
          max-width: 350px;
        }
        @include media-type(phone) {
          padding-left: 10px;
          padding-right: 10px;
        }
        @include media-type(399px) {
          padding: 10px 0;
        }
      }
      & .iconscol {
        max-width: 350px;
        padding-right: 0;
        @include media-type(laptop) {
          max-width: 305px;
          padding-left: 10px;
        }
        @include media-type(399px) {
          padding: 10px 0;
        }
        & ul {
          list-style: none;
          padding: 0;
          margin: 0;
          @include flex(flex, wrap, jc_space_between);
          @include media-type(phone) {
            @include flex(jc_space_around);
          }
          @include media-type(639px) {
            @include flex-right();
          }
          & li {
            width: 130px;
            text-align: center;
            margin-top: 10px;
            margin-left: 30px;
            @include media-type(laptop) {
              margin-left: 5px;
            }
            @include media-type(639px) {
              width: 45%;
            }
            & span {
              font-size: 16px;
              font-weight: 400;
              color: #343434;
              @include media-type(1200px) {
                font-size: 13px;
              }
            }
            & .icon {
              background: white;
              -webkit-border-radius: 50px;
              -moz-border-radius: 50px;
              border-radius: 50px;
              @include flex(flex, jc_center, ai_center);
              width: 66px;
              height: 67px;
              margin: 0 auto;
              box-shadow: 0px 3px 10px 1px #e2e2e2;
              @include media-type(639px) {
                width: 35px;
                height: 35px;
              }
              & img {
                max-width: 31px;
                height: auto;
                @include media-type(639px) {
                  max-width: 17px;
                }
              }
            }
            & .icon-title {
              display: block;
              padding: 10px 0;
            }
          }
          &.single {
            @include media-type(639px) {
              @include flex-center();
            }
            & li {
              @include flex(flex, wrap, ai_center, jc_center);
              @include _flex_col();
              //width: 100%;
            }
          }
        }
      }
    }
  }
  &::after {
    content: "";
    position: absolute;
    bottom: -175px;
    height: 175px;
    width: 100%;
    background: url("../../images/bottom-grey-angle.png");
    background-position: 50%;
    background-repeat: no-repeat;
  }
}
