.HomePanel1 {
  //min-height: 950px;
  position: relative;
  @include media-type(laptop) {
    height: 640px;
    min-height: 0;
  }
  @include media-type(1280px) {
    padding-bottom: 95px;
  }
  @include media-type(960px) {
    height: auto;
  }
  @include media-type(phone) {
    padding-bottom: 75px;
  }
  @include media-type(767px) {
    display: flex;
    align-items: center;
    padding: 50px 0;
    padding-bottom: 120px;
    h1, h2, h3, p {
      text-align: center;
    }
  }
  &.has-video {
    & h1 {
      color: #fefefe;
      text-shadow: 0 2px 4px rgba(0,0,0,.5);
    }
    & p {
      color: #fefefe;
      text-shadow: 0 2px 4px rgba(0,0,0,.5);
    }
  }
  & .upper-content {
    min-height: 490px;
    padding-top: 60px;
    overflow: hidden;
    @include media-type(639px) {
      padding-top: 25px;
    }
  }
  & h1 {
    font-size: 55px;
    font-weight: 700;
    line-height: 55px;
    margin-bottom: 30px;
    color: map-get($palette, grey);
    @include media-type(laptop) {
      font-size: 37px;
      line-height: 40px;
      margin-bottom: 25px;
    }
    @include media-type(399px) {
      font-size: 27px;
      line-height: 30px;
      margin-bottom: 20px;
    }
  }
  & p {
    font-size: 20px;
    font-weight: 400;
    @include media-type(laptop) {
      font-size: 17px;
    }
    @include media-type(960px) {
      font-size: 16px;
    }
    @include media-type(399px) {
      font-size: 12px;
    }
  }
  img {
    max-width: 100%;
  }
  .btn-container {
    padding: 5px 0;
    @include flex-left(flex-start, wrap);
    @include media-type(767px) {
      @include flex(jc_space_around);
    }
    @include media-type(639px) {
      @include flex(column, ai_center, jc_center);
    }
    a {
      display: block;
      margin-left: 20px;
      margin-bottom: 10px;
      min-width: 190px;
      &:first-child{
        margin-left: 0;
      }
      @include media-type(tablet) {
        width: 45%;
        margin-left: 10px;
        &:first-child{
          margin-left: 0;
        }
      }
      @include media-type(960px) {
        font-size: 13px;
      }
      @include media-type(767px) {
        margin-left: 0;
      }
      &.btn {
        color: map-get($palette, white);
        background-color: #353535;
        &:hover{
          background-color: map-get($palette, blue);
        }
        @include media-type(phone) {
          background-color: map-get($palette, blue);
        }
        @include media-type(399px) {
          display: block;
          margin: 10px;
        }
      }
    }
  }
  & .col{
    @include media-type(phone) {
      flex-basis: 0;
      flex-grow: 1;
    }
  }
  .contentcol {
    //max-width: 540px;
    //max-width: 675px;
    max-width: 735px;
    padding-left: 130px;
    padding-top: 80px;
    position: relative;
    z-index: 5;
    //@include media-type(laptop) {
    //  padding-top: 50px;
    //}
    //@include media-type(1280px) {
    //  padding-left: 100px;
    //}
    //@include media-type(960px) {
    //  padding-left: 50px;
    //}
    //@include media-type(phone) {
    //  display: flex;
    //  justify-content: center;
    //}
    @include media-type(767px) {
      max-width: 80%;
      padding: 10px;
      margin: 0 auto;
    }
    @include media-type(399px) {
      max-width: 100%;
    }
    //&.content {
    //  & p {
    //    max-width: 400px;
    //  }
    //}
  }
  &::after {
    content: "";
    position: absolute;
    bottom: -460px;
    //bottom: 0;
    left: 0;
    height: 615px;
    width: 100%;
    z-index: 1;
    background: url("../../images/homepage-panel2-background.png");
    @include bg-cover();
  }
  & + div, + section {
    position: relative;
    z-index: 2; // make sure next panel isn't overlapped by the background
    margin-bottom: 50px;
    & + div, + section {
      position: relative;
      z-index: 2;
    }
  }
  & .panel-bg {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: transparent no-repeat center center /cover;
    & video {
      z-index: 2;
      @include bg-video();
    }
    @include media-type(960px) {
      opacity: 0.75;
    }
  }
}
