.HomePanel3 {
  min-height: 350px;
  position: relative;
  padding: 60px 0;
  background-color: white;
  & h2 {
    font-size: 35px;
    font-weight: 700;
    color: #5a5a5a;
    @include media-type(laptop) {
      font-size: 29px;
    }
    @include media-type(399px) {
      font-size: 20px;
      line-height: 28px;
    }
    &.title {
      padding: 10px 0;
      margin-bottom: 20px;
      text-align: center;
      @include media-type(phone) {
        margin-bottom: 10px;
      }
      @include media-type(399px) {
        margin-bottom: 10px;
      }
    }
  }
  & h3 {
    font-size: 30px;
    font-weight: 700;
    @include media-type(laptop) {
      font-size: 24px;
    }
    @include media-type(399px) {
      font-size: 16px;
    }
  }
  & p {
    font-size: 20px;
    font-weight: 400;
    @include media-type(laptop) {
      font-size: 16px;
    }
    @include media-type(399px) {
      font-size: 12px;
    }
  }
  img {
    max-width: 100%;
  }
  & .general-content {
    & * {
      color: #5a5a5a;
    }
  }
  & .row {
    @include flex(ai_center);
    @include media-type(960px) {
      @include flex(jc_center, row);
    }
    & > .col {
      margin-top: 20px;
      @include media-type(960px) {
        flex-basis: auto;
      }
      @include media-type(phone) {
        margin-top: 10px;
      }
    }
    & .contentcol {
      max-width: 290px;
      & .bigicon{
        width: 258px;
        height: 258px;
        background: #01a1e1;
        @include flex(flex, jc_center, ai_center);
        -webkit-border-radius: 130px;
        -moz-border-radius: 130px;
        border-radius: 130px;
        -webkit-box-shadow: 0 3px 9px 2px #d4d4d4;
        -moz-box-shadow: 0 3px 9px 2px #d4d4d4;
        box-shadow: 0 3px 9px 2px #d4d4d4;
        @include media-type(phone) {
          width: 120px;
          height: 120px;
          -webkit-border-radius: 60px;
          -moz-border-radius: 60px;
          border-radius: 60px;
          margin: 0 auto;
        }
        & .fa{
          font-size: 168px;
          color: white;
          @include media-type(phone) {
            font-size: 64px;
          }
        }
      }
      & p{
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        padding-top: 15px;
        @include media-type(phone) {
          font-size: 10px;
          line-height: 14px;
        }
      }
    }
    & .iconscol {
      padding-left: 70px;
      @include media-type(960px) {
        padding: 0 10px;
      }
      & ul {
        list-style: none;
        padding: 0;
        margin: 0;
        @include flex(flex, wrap, jc_space_between);
        & li {
          width: 29%;
          margin-left: 10px;
          margin-top: 30px;
          @include flex(flex, ai_center);
          @include media-type(phone) {
            @include flex(wrap, row);
            margin-left: 0;
          }
          & span {
            font-size: 20px;
            font-weight: 400;
            color: #343434;
            &.icon {
              width: 89px;
              @include media-type(phone) {
                width: 100%;
                padding-bottom: 20px;
              }
              & img {
                max-width: 70px;
                height: auto;
                @include media-type(639px) {
                  max-width: 55px;
                }
              }
            }
            @include media-type(phone) {
              display: block;
              width: 100%;
              text-align: center;
              font-size: 15px;
            }
            @include media-type(639px) {
              font-size: 10px;
            }
          }
        }
      }
    }
  }
  & .content{
    padding-top: 70px;
    text-align: center;
    @include media-type(phone) {
      padding-top: 50px;
    }
  }
}