.shortcode{
  &.IconGrid{
    padding: 80px 0;
    & .content{
      padding: 10px 0;
    }
    & .row{
      & .iconscol{
        padding-bottom: 20px;
        & ul{
          @include flex(flex, wrap, jc_center);
          @include media-type(639px) {
            @include flex(jc_space_around);
          }
          & li{
            width: 25%;
            margin-top: 30px;
            text-align: center;
            @include media-type(phone) {
              margin-top: 10px;
              width: 45%;
            }
            @include media-type(639px) {
              width: 100%;
            }
            & .icon{
              width: 94px;
              height: 94px;
              @include flex(flex, wrap, ai_center, jc_center);
              background: white;
              margin: 0 auto;
              border: 1px solid #e8e8e8;
              -webkit-border-radius: 5px;
              -moz-border-radius: 5px;
              border-radius: 5px;
              -webkit-transition: all 0.3s;
              -moz-transition: all 0.3s;
              -ms-transition: all 0.3s;
              -o-transition: all 0.3s;
              transition: all 0.3s;
              & img{
                max-width: 60px;
              }
              & .fa{
                font-size:  40px;
                color: map-get($palette, blue);
              }
            }
            & .icon-content{
              padding: 15px 10px;
              //max-width: 200px;
              max-width: 100%;
              margin-top: 10px;
              margin: 0 auto;
              @include media-type(639px) {
                max-width: 100%;
              }
              @include media-type(339px) {
                max-width: 90%;
              }
              & .title{
                font-size: 18px;
                line-height: 22px;
                margin-bottom: 10px;
              }
              & p{
                font-size: 14px;
                font-weight: 400;
                line-height: 22px;
                color: #5a5a5a;
              }
            }
            &:hover{
              cursor: pointer;
              & .icon{
                -webkit-box-shadow: 8px 2px 21px 2px #d6d6d6;
                -moz-box-shadow: 8px 2px 21px 2px #d6d6d6;
                box-shadow: 8px 2px 21px 2px #d6d6d6;
              }
            }
          }
        }
      }
    }
  }
}