.Instructions{
    min-height: 800px;
    display: flex;
    align-items: center;

    @include media-type(phone){
        padding: 15px 0;
    }

    .col.s6:first-child{
        padding-top: 30px;
        @include media-type(phone){
            padding-top: 0;
            text-align: center;
        }
      & p{
        max-width: 85%;
        @include media-type(phone){
          max-width: 100%;
        }
      }
    }
  & .general-content{
    &.dark{
      & > *{
        color: #1d1d1d;
      }
    }
    &.light{
      & > *{
        color: #fefefe;
      }
    }
  }

    .card{
        min-height: 571px;
        max-width: 566px;
        margin: auto;
        background-color: #262626;

        .cimg{
            max-height: 344px;

            padding-bottom: 60.77%;
            @include bg-cover;
        }

        .cbody{
            padding: 40px;

            p{
                color: $white;
            }

            .media{
                @include media-type(phone){
                    @include flex(column);
                }
                img{
                    @include media-type(phone){
                        margin-bottom: 1.5em;
                    }
                    width: 78px;
                    height: 78px;
                    margin-right: 32px;
                }
            }

        }

    }
}