.LeftTextRight1FieldForm {
  position: relative;
  min-height: 117px;
  @include flex(flex, ai_center);
  padding: 15px 0;
  @include bg-cover();
  h3 {
    width: 100%;
    @include media-type(phone) {
      text-align: center;
    }
  }
  & .row {
    @include media-type(tablet) {
      display: block;
    }
    .col.s3 {
      display: flex;
      align-items: center;
      @include media-type(tablet) {
        width: 100%;
        max-width: 100%;
        text-align: center;
        margin: 10px 0;
      }
      @include media-type(phone) {
        margin: 0;
        padding: 0;
        padding-top: 20px;
      }
    }

    .col.s8 {
      display: flex;
      align-items: center;
      @include media-type(tablet) {
        @include flex(jc_center);
        width: 100%;
        max-width: 100%;
      }
      @include media-type(phone) {
        padding-left: 10px;
        padding-right: 10px;
      }
      @include media-type(640px) {
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }

  form {
    width: 100%;
    @include media-type(767px) {
      //max-width: 420px;
    }
    @include media-type(320px) {
      max-width: 220px;
    }

    .input-group {
      @include flex(ai_center);
      @include media-type(767px) {
        @include flex(f-jcc);
      }

      .right {
        @include media-type(767px) {
          width: 100%;
          margin-top: 15px;
        }
      }
      & .input {
        @include media-type(767px) {
          width: 100%;
          flex: unset;
          width: 100%;
          max-width: unset !important;
          margin-right: 0 !important;
          margin-left: 0 !important;
          margin-bottom: $input-break-margin-bottom-phone;
        }
        &.input-qans {
          max-width: 50px;
          padding: 15px;
          margin-left: 2px;
          @include media-type(767px) {
            width: 50px;
            margin-bottom: 0;
            margin-left: 2px !important;
          }
        }
      }
    }
  }

  .input {
    margin-right: 15px;
  }

  .input:first-child {
    max-width: 282px;
  }

  .input:last-child {
    max-width: 350px;
  }
  & .row {
    &.error-message {
      text-align: center;
      color: white;
      padding: 10px 0 20px 0;
    }
  }
  & .wpforms-container-full {
    width: 100%;
    margin-bottom: 0;
    & form,
    & .wpforms-form {
      @include flex(flex, jc_space_between, ai_center);
      @include media-type(phone) {
        display: block;
      }
      & .wpforms-field-container {
        @include flex(flex, jc_end, ai_center);
        @include media-type(phone) {
          display: block;
        }
        width: 100%;
        & .wpforms-field-name {
          max-width: 282px;
          width: 40%;
          margin-right: 10px;
          @include media-type(phone) {
            margin-right: 0;
            width: 100%;
            max-width: 100%;
          }
        }
        & .wpforms-field-email {
          max-width: 350px;
          width: 70%;
          @include media-type(phone) {
            width: 100%;
            max-width: 100%;
          }
        }
        & input,
        & input[type=text],
        & input[type=email] {
          //height: 78px;
          height: auto;
          display: $input-display;
          width: $input-width;
          min-height: $input-height;
          padding: $input-padding;
          font-size: $input-font-size;
          line-height: $input-line-height;
          color: $input-text-color;
          background-color: $input-bg;
          background-clip: $input-bg-clip;
          border: $input-border;
          border-radius: $input-border-radius;
          transition: $input-transition;
          @include media-type(phone) {
            height: auto;
          }
        }
      }
      & .wpforms-recaptcha-container {
        padding: 0;
        padding-left: 10px;
        @include media-type(phone) {
          padding-left: 0;
        }
      }
      & .wpforms-submit-container {
        padding: 0;
        padding-left: 10px;
        @include media-type(phone) {
          padding-left: 0;
          width: 100%;
          text-align: center;
          padding-top: 15px;
        }

        & button {
          width: 140px;
          //height: 78px;
          @include media-type(phone) {
            height: auto;
          }
        }
      }
      & label.wpforms-error {
        color: white;
        margin-top: 5px;
      }
    }
  }
}