.LeftImageWithIcons {
  overflow-x: hidden;
  @include media-type(768px) {
    min-height: 0 !important;
  }
  & .container {
    max-width: 100%;
  }
  & .col {
    padding: 0;
  }
  & .content-wrapper {
    @include flex(flex, row, nowrap, jc_start, ai_center);
    position: relative;
    @include media-type(767px) {
      padding: 20px 0px;
    }
    & .content-text {
      width: 800px;
      padding: 0 50px 0 100px;
      max-width: 50%;
      position: relative;
      z-index: 5;
      @include media-type(desktop) {
        padding-left: 50px;
        padding-right: 0;
        max-width: 55%;
      }
      @include media-type(767px) {
        max-width: 100%;
        padding-right: 50px;
      }
      & h1, h2, h3, h4, h5, h6 {
        margin-bottom: 20px;
      }
      & .icon-wrapper {
        margin-top: 40px;
        @include flex(flex, row, wrap, ai_start, jc_start);
        width: 100%;
        & .unit {
          width: 50%;
          padding-right: 50px;
          max-width: 280px;
          margin-bottom: 50px;
          @include media-type(tablet) {
            padding-right: 20px;
          }
          @include media-type(768px) {
            margin-bottom: 30px;
          }
          & img {
            max-width: 90px;
            margin-bottom: 20px;
          }
          & h3 {
            font-size: 21px;
            font-weight: $bold;
            margin-bottom: 10px;
          }
          & p {
            font-size: 16px;
          }
        }
      }
    }
    & .content-image {
      width: 50%;
      height: 700px;
      position: relative;
      z-index: 1;
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: contain;
      @include media-type(desktop) {
        width: 40%;
      }
      @include media-type(767px) {
        display: none;
      }
      & img {
        width: auto;
        height: 100%;
        max-width: unset;
        display: block;
        position: absolute;
        left: -20px;
        top: 0;
        z-index: 1;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .LeftImageWithIcons {
    & .content-wrapper {
      & .content-text {
        & h1, h2, h3, h4, h5, h6 {
          font-size: 30px;
        }
        & p {
          font-size: 15px;
        }
        & .icon-wrapper {
          & .unit {
            width: 50%;
            & h3 {
              font-size: 16px;
            }
          }
        }
      }
      & .content-image {
        height: 500px;
        & img {
          left: - 50px;
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .LeftImageWithIcons {
    & .content-wrapper {
      @include flex(flex, row, nowrap, jc_center, ai_center);
      & .content-text {
        width: 100%;
        max-width: 100%;
        text-align: center;
        & .icon-wrapper {
          @include flex(flex, row, wrap, ai_start, jc_center);
          & .unit {
            width: 100%;
            padding: 0 20px;
          }
        }
      }
    }
  }
}