.shortcode{
  &.LeftImageRightText {
    @include media-type(phone) {
      padding: 10px 0;
    }
    & .content-wrapper {
      @include flex(flex, row, nowrap);
      position: relative;
      @include media-type(phone) {
        @include flex(column, jc_center);
        text-align: center;
      }
      & .content-image {
        margin-right: 20px;
        @include media-type(phone) {
          margin: 10px 0;
        }
        & img {
          max-width: 65px;
          height: auto;
        }
      }
    }
  }
}