
.LeftContentOnImage{

  //height: 705px;
  width: 100%;
  max-width: 1560px;
  padding: 0 30px;
  margin: 90px auto;
  position: relative;
  //@include bg-cover();

  .lcoi-img-bg{
    position: relative;
    @include bg-cover();
    .lcoi-inner{
      position: relative;
      width: 100%;
      padding: 175px 145px;
      .ab-left{
        width: 100%;
        max-width: 550px;
        .lcoi-title{
          padding-bottom: 30px;
          margin-bottom: 45px;
          border-bottom: 1px solid $white;
        }
        .lcoi-content{
        }
      }
    }
  }


}


@media screen and (max-width: 1280px){

  .LeftContentOnImage {
    .lcoi-img-bg {
      .lcoi-inner{
        padding: 115px 50px;
      }
    }
  }

}


@media screen and (max-width: 1024px){

  .LeftContentOnImage {
    margin: 60px auto 50px;
    .lcoi-img-bg {
      .lcoi-inner{
        padding: 75px 50px;
        .ab-left{
          text-align: center;
          .lcoi-title{
            padding-bottom: 20px;
            margin-bottom: 30px;
          }
        }
      }
    }
  }

}