





.LeftContentRightImage{
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  @include flex(flex,unwrap,ai_center);
  padding: 40px 30px ;
  @media screen and (max-width: 1100px){
    padding: 50px 50px;
  }

  &.right{
    .image-container{
      order:2;
      padding: 0 0 0 3.8em;
    }
    .info-container{
      order:1;
      padding: 0 3.8em 0 0;
    }
  }

  .image-container{
    width: 50%;
    text-align: center;
    padding: 0 3.8em 0 0;
    img{
      max-width: 100%;
      max-height: 665px;
      @include box-shadow();
      @media screen and (max-width: 1280px){
        max-height: 605px;
      }
      @media screen and (max-width: 1100px){
        max-height: 560px;
      }
      @media screen and (max-width: 1024px){
        max-height: 500px;
      }
      @media screen and (max-width: 550px){
        max-height: 475px;
      }
    }
  }

  .info-container{
    width: 50%;
    padding: 0 0 0 3.8em;
    h1,h2,h3,h4,h5,h6,p,a{
      color: $black;
    }
    .lcri-title{
      border-bottom: 1px solid $black2;
      padding-bottom: 30px;
      margin-bottom: 40px;
    }
  }

}



@media screen and (max-width:1280px){

  $padding : 35px;
  .LeftContentRightImage {
    .image-container{
      padding: 0 $padding 0 0;
    }
    .info-container{
      padding: 0 0px 0 $padding;
    }

    &.right{
      .image-container{
        padding: 0 0 0 $padding;
      }
      .info-container{
        order:1;
        padding: 0 $padding 0 0;
      }
    }
  }

}

@media screen and (max-width: 960px){

  .LeftContentRightImage {
    padding: 30px 30px;
    @include flex(flex,wrap);
    .image-container{
      width: 100%;
      max-width: 460px;
      margin: 30px auto;
      padding: 0px;
    }
    .info-container{
      width: 100%;
      max-width: 600px;
      padding: 0px;
      margin: 30px auto;
    }

    &.right{
      .image-container{
        order:1;
        padding: 0px;
      }
      .info-container{
        order:2;
        padding: 0px;
      }
    }
  }

}