.LeftVideoRightText {
  position: relative;
  overflow: hidden;
  padding: 100px 0;
  @include bg-cover();
  @include flex(flex, ai_center);
  min-height: 620px;
  @include media-type(tablet) {
    min-height: 420px !important;
  }
  @include media-type(phone) {
    min-height: 0 !important;
    padding: 50px 0;
  }
  & .videocol{
    & video, img{
      max-width: 100%;
      -webkit-box-shadow: 8px 2px 21px 2px #d6d6d6;
      -moz-box-shadow: 8px 2px 21px 2px #d6d6d6;
      box-shadow: 8px 2px 21px 2px #d6d6d6;
    }
  }
  & .contentcol{
    & .general-content{
      & p{
        padding-bottom: 25px;
      }
    }
  }
}
