.LeftTextVideoOrImageBack{
    position: relative;
    overflow: hidden;
    min-height: 800px;
    @include bg-cover();
    @include flex(flex, ai_center);

    .container{
        .row{
            align-items: center;
        }
    }

    .col.s6{
        max-width: 425px;
    }
    .col.flex{
        @include media-type(phone){
            justify-content: center;
        }
    }

    &.dark{
        h2, p{
            color: map-get($map: $palette, $key: grey);
            text-shadow: 0px 2px 4px rgba(#000, .25);
        }
    }

    &.light{
        h2, p{
            color: $white;
            text-shadow: 0px 2px 4px rgba(#000, .5);
        }
    }

}
