

.LeftFixScrollAnimation{
  position: fixed;
  z-index: 5;
  left:15px;
  top: 45%;
  .fix-circle{
    position: relative;
    padding: 12px 0;
    cursor: pointer;
    &:before{
      position: absolute;
      content: "";
      border-radius: 50%;
      width: 8px;
      height: 8px;
      border: 1px solid $green-animation;
    }

    span{
      @include transition();
      visibility: hidden;
      opacity: 0;
      position: absolute;
      color: $white2;
      left: 20px;
      min-width: 100px;
      font-size: 11px;
      letter-spacing: 0.15px;
    }

    &.active{
      &:before{
        background: $green-animation ;
      }
      span{
        visibility: visible;
        opacity: 1;
      }
    }
  }
}


@media screen and (max-width: 1280px){

}


@media screen and (max-width: 768px){

  .LeftFixScrollAnimation{
    display: none;
  }

}