.LeftTextRightButton {
  min-height: 342px;
  background-image: url('../../images/demo-bg-light.png');
  @include flex(flex,ai_center);

  h2,h3,p {
    color: $white;
    @include media-type(phone){
      text-align: center;
    }
  }
  h2 {
    font-weight: 700;
    margin-bottom: 15px;
  }
  
  
  .btn:first-child {
    margin-right: 15px;
  }
  
  .col.s4 {
    @include flex(flex,ai_center);
    @include media-type(phone){
      @include flex(jc_center);
    }
  }
}