.LetsPrintNow {
  min-height: 774px;
  @include bg-cover();
  padding-top: 50px;
  position: relative;
  @include media-type(laptop) {
    min-height: 0 !important;
  }
  @include media-type(phone) {
    display: flex;
    align-items: center;
    padding: 50px 0;
    h1, h2, p {
      text-align: center;
    }
  }
  h1 {
    margin-bottom: 12px;
  }
  h2 {
    margin-bottom: 32px;
    font-weight: 400;
  }
  img {
    max-width: 100%;
  }
  .content {
    max-width: 560px;
    padding-top: 90px;

    @include media-type(phone) {
      padding-top: 0;
    }
  }
  .btn-container {
    padding-top: 24px;
    margin-bottom: -20px;
    @include flex-left(flex-start, wrap);
    @include media-type(phone) {
      @include flex(jc_center);
      padding-top: 15px;
    }
    a {
      display: block;
      margin-right: 20px;
      margin-bottom: 20px;
      img {
        display: block;
        width: 190px;
        height: auto;
        @include media-type(tablet) {
          width: 150px;
        }
        @include media-type(640px) {
          width: 125px;
        }
      }
    }
  }

  .contentcol {
    @include media-type(phone) {
      display: flex;
      justify-content: center;
    }
  }
  .imagecol {
    min-width: 495px;
    @include media-type(laptop) {

    }
    @include media-type(phone) {
      display: none;
    }
  }
}
