.logos {
  min-height: 222px;
  @include flex(flex,ai_center);

  .logo-slider {

    
    .slide {
      outline: 0;
      min-width: 234px;
      @include padding-x(15px);
      
      
      img {
        max-width: 100%;
        margin: auto;
        transition: margin .8s ease;
      }
    }
  }
}