.MobileApps {
  min-height: 730px;
  padding-top: 60px;
  position: relative;
  overflow: hidden;
  @include bg-cover();
  @include media-type(1280px) {
    padding-bottom: 95px;
    min-height: 0;
  }
  @include media-type(tablet) {
    padding-bottom: 60px;
  }
  @include media-type(960px) {
    height: auto;
  }
  @include media-type(phone) {
    padding-bottom: 75px;
  }
  @include media-type(767px) {
    display: flex;
    align-items: center;
    padding: 50px 0;
    h1, h2, h3, p {
      text-align: center;
    }
  }
  & h2 {
    font-size: 35px;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 20px;
    @include media-type(laptop) {
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 25px;
    }
    @include media-type(399px) {
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 10px;
    }
  }
  & h3 {
    font-size: 24px;
    font-weight: 400;
    @include media-type(laptop) {
      font-size: 20px;
    }
    @include media-type(399px) {
      font-size: 14px;
    }
  }
  & p {
    font-size: 18px;
    font-weight: 400;
    @include media-type(laptop) {
      font-size: 16px;
    }
    @include media-type(960px) {
      font-size: 14px;
    }
    @include media-type(399px) {
      font-size: 12px;
    }
  }
  img {
    max-width: 100%;
  }
  & .col{
    @include media-type(phone) {
      flex-basis: 0;
      flex-grow: 1;
    }
  }
  .contentcol {
    max-width: 640px;
    padding-left: 130px;
    padding-top: 80px;
    @include media-type(laptop) {
      padding-top: 50px;
    }
    @include media-type(1280px) {
      padding-left: 100px;
    }
    @include media-type(tablet) {
      padding-top: 0;
    }
    @include media-type(960px) {
      padding-left: 50px;
    }
    @include media-type(phone) {
      display: flex;
    }
    @include media-type(767px) {
      max-width: 100%;
      padding: 10px;
      @include flex(jc_center);
    }
    & .content {
      max-width: 440px;
      @include media-type(laptop) {
        max-width: 360px;
      }
    }
  }
  .imagecol {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    background-repeat:no-repeat;
    background-position: bottom right;
    @include media-type(1640px) {
      background-position: 120% 100%;
    }
    @include media-type(laptop) {
      background-position: 100% 100%;
      max-width: 60%;
      -webkit-background-size: contain;
      background-size: contain;
    }
    @include media-type(1280px) {
      max-width: 60%;
      right: -60px;
    }
    @include media-type(tablet) {
      max-width: 60%;
      right: -170px;
    }
    @include media-type(phone) {
      right: -140px;
    }
    @include media-type(767px) {
      display: none;
    }
  }

  .logo {
    width: 190px;
    height: 90px;
    //background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 30px;
    @include media-type(767px) {
      max-width: 100%;
      margin: 0 auto;
      background-position: 50%;
      margin-bottom: 10px;
    }
  }
  .btn-container {
    padding-top: 24px;
    margin-bottom: -20px;
    @include flex-left(flex-start, wrap);
    @include media-type(767px) {
      @include flex(jc_center);
      padding-top: 15px;
    }
    a {
      display: block;
      margin-right: 20px;
      margin-bottom: 20px;
      img {
        display: block;
        width: 190px;
        height: auto;
        @include media-type(tablet) {
          width: 150px;
        }
        @include media-type(640px) {
          width: 125px;
        }
      }
    }
    &.single{
      & a{
        margin-right: 0;
        margin-bottom: 10px;
        & img{
          @include media-type(phone) {
            width: 200px;
            max-width: 100%;
          }
        }
      }
    }
  }
}