.MultiIconPanel {
  padding: 100px 50px;
  text-align: center;
  background-color: map-get($palette, off-white);
  @include media-type(900px) {
    padding: 80px 30px;
  }
  @include media-type(phone) {
    padding: 50px 0;
  }
  & .container {
    & .col{
      @include media-type(phone) {
        padding: 0;
      }
    }
  }
  & .icon-wrapper {
    margin: 20px auto 0;
    max-width: 100%;
    @include flex(flex, row, wrap, ai_center, jc_center);
    @include media-type(768px) {
      @include flex(flex, column);
    }
    &.dual-wrapper {
      & .unit {
        width: 50%;
      }
    }
    & .unit {
      width: 33%;
      padding: 0 30px;
      max-width: 290px;
      margin-top: 30px;
      max-width: 380px;
      padding: 0 15px;
      @include media-type(900px) {
        margin-bottom: 50px;
        width: 50%;
      }
      @include media-type(768px) {
        width: 80%;
        max-width: 100%;
        margin-bottom: 25px;
      }
      @include media-type(639px) {
        width: 100%;
      }
      & img {
        max-width: 90px;
        margin-bottom: 20px;
      }
      & h3 {
        font-size: 21px;
        font-weight: $bold;
        margin-bottom: 10px;
      }
      & p {
        font-size: 16px;
        max-width: 80%;
        margin: 0 auto;
        @include media-type(phone) {
          max-width: 95%;
        }
      }
    }
  }
  &.wide{
    & .icon-wrapper{
      max-width: 100%;
      & .unit{
        & h3{
          font-size: 18px;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .MultiIconPanel {
    & .icon-wrapper {
      &.dual-wrapper {
        & .unit {
          width: 100%;
        }
      }
      & .unit {
        width: 100%;
      }
    }
  }
}
