


.NewsBlogSection{
  height: 100vh;
  min-height: 850px;
  width: 100%;
  position: relative;
  @include bg-cover();
  .grey-overlay{
    background: rgba(0,0,0,0.75);
  }

  .pfi-shortcode-inner{

    .news-wrapper{
      width: 100%;
      max-width: 1160px;
      margin: 0 auto;

      .news-title{
        text-align: center;
        h1{
          font-size: 54px;
          font-weight:500;
          @media screen and (max-width: 1024px){
            font-size: 34px;
            line-height: 42px;
          }
          @media screen and (max-width: 768px){
            font-size: 32px;
            line-height: 36px;
          }
        }

      }

      .news-container{
        @include flex(flex,nowrap);
        margin: 60px auto 70px;
        position: relative;
        width: 100%;


        .single-news{
          width: 33.33%;
          @include transition();
          background-color: $violet1;
          //padding: 0 15px;
          margin: 0 15px;
          cursor: pointer;
          .news-img{
            position: relative;
            @include bg-cover();
            width: 100%;
            height: 334px;
            .grey-overlay{
              background: rgba(47,59,88,0.3);
            }

            .green-overlay{
              position: absolute;
              z-index: 1;
              background: rgba(1,203,172,0.82);
              bottom: 0;
              left: 0;
              width: 100%;
              height: 0%;
              overflow: hidden;
              @include transition();
              @include flex(flex,wrap,ai_center,jc_center);
              span{
                position: relative;
                @include a-hover-before();
                font-size: 14px;
                font-weight:500;
                &:after{
                  content: "\f067";
                  font-weight:300;
                  right: -20px;
                  top: -8px;
                  font-size: 12px;
                }
                &:hover{
                  &:after{
                    right: -20px;
                    top: -8px;
                  }
                }
              }
            }
          }

          .news-content{
            background-color: $violet1;
            padding: 45px 32px;
            text-align: center;
            @include transition();
            h6{
              font-size: 17px;
              line-height: 21px;
              margin-bottom: 20px;
              font-weight: 500;
            }
            p{
              font-size: 14px;
              line-height:22px;
            }
          }

          &:hover{
            background-color: $green-animation;
            .news-img{
              .green-overlay{
                //visibility: visible;
                height: 100%;
              }
            }
            .news-content{
              background-color: $green-animation;
            }
          }

        }


        .slick-prev{
          left: -15px;
          &:before{
            font-family: fontawesome;
            content: "\f053" ;
            font-size: 24px;
          }
        }

        .slick-next{
          right: -15px;
          &:before{
            font-family: fontawesome;
            content: "\f054" ;
            font-size: 24px;
          }
        }


      }

      .view-news{
        text-align: center;
        a{
          @include a-hover-before();
          @include transition();
          font-size: 14px;
          font-weight: 500;
          &:after{
            content: "\f067";
            font-weight:300;
            right: -20px;
            top: -8px;
            font-size: 12px;
            color: $green-animation;
          }
          &:hover{
            color: $green-animation;
            &:after{
              right: -20px;
              top: -8px;
            }
          }
        }
      }

    }

  }
}



@media screen and (max-width: 1024px){


  .NewsBlogSection {
    .pfi-shortcode-inner {
      .news-wrapper {
        .news-container {
          .single-news{
            margin: 0 10px;
            .news-img{
              height: 220px;
            }
            .news-content{
              padding: 30px 20px;
              h6{
                font-size: 15px;
                line-height:19px;
                margin-bottom: 15px;
              }
              p{
                font-size: 13px;
                line-height:17px;
              }
            }
          }

        }
      }
    }
  }


}




@media screen and (max-width: 768px){


  .NewsBlogSection {
    height: auto;
    min-height: 0px;
    .pfi-shortcode-inner {
      .news-wrapper {
        .news-container {
          max-width: 400px;
          padding: 0 10px;
          .single-news{
            .news-content{
              p{
                font-size: 12px;
                line-height:16px;
              }
            }
          }
        }
      }
    }
  }


}