.OurTeam {
  @include media-type(tablet) {
    min-height: 0 !important;
  }
  &.v-padding {
    padding: 45px 0;
    @include media-type(phone) {
      padding: 20px 0;
    }
  }
  & .container,
  & .col{
    @include media-type(phone) {
      padding: 0;
    }
  }

  .card {
    .href-on-top {
      @include posa();
      z-index: 100;
      cursor: pointer;
    }
    &:hover {
      .cbody {
        p {
          color: $orange;
        }
      }
    }
  }

  .spacer {
    &.type-80 {
      @include media-type(phone) {
        height: 0;
      }
    }
  }

  .container {

    display: flex;
    justify-content: center;

    .arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;

      @include media-type(tablet) {
        display: none !important;
      }

      &.left-team-arrow, &.left-team-tablet-arrow, &.left-team-phone-arrow {
        left: 0;

        @include media-type(1200px) {
          display: none !important;
        }
      }
      &.right-team-arrow, &.right-team-tablet-arrow, &.right-team-phone-arrow {
        right: 0;
        @include media-type(1200px) {
          display: none !important;
        }
      }
      & i{
        font-size: 37px;
        color: #5A5A5A;
        transition: color 0.3s;
        &:hover{
          color: map-get($palette, blue);
        }
      }
    }
    &.tablet-phone{
      display: inherit;
      max-width: 100%;
      @include media-type(1025px, min) {
        display: none !important;
      }
    }
  }

  .team-slider {
    max-width: 100%;
  }

  .slide {
    max-width: 1050px;
  }

  .team-slider {
    margin-bottom: 20px;
  }

  .card {
    text-align: center;
    margin-top: 50px;
    min-width: 280px;
    max-width: 280px;
    width: 280px;
    .cimg {
      @include bg-cover;
      max-height: 258px;
      max-width: 258px;
      width: 100%;
      height: 258px;
      margin: auto;
      margin-bottom: 15px;
    }

    .cbody {

      .name {
        margin-bottom: 5px;
      }
      .position {
        margin-bottom: 20px;
      }
    }
  }

}