.PlatformApplicationsPanel {
  //padding: 100px 50px;
  padding-left: 50px;
  padding-right: 50px;
  @include flex(ai_center);
  @include media-type(1280px) {
    //padding: 100px 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  @include media-type(639px) {
    min-height: 0px !important;
  }
  & .col{
    @include media-type(phone) {
      padding: 30px 20px;
    }
    @include media-type(399px) {
      padding: 30px 0;
    }
  }
  & .container {
    text-align: center;
    max-width: 1440px;
    @include media-type(laptop) {
      max-width: 100%;
    }
  }
  & .Heading {
    & img {
      display: inline-block;
      margin-right: 15px;
      height: 54px;
      width: auto;
    }
  }
  & p {
    font-size: 24px;
  }
  & .unit-wrapper {
    @include flex(flex, row, wrap, ai_start, jc_center);
    & .unit {
      display: block;
      text-align: left;
      margin: 50px 10px;
      height: 450px;
      width: calc(25% - 20px);
      max-width: 375px;
      position: relative;
      padding: 60px;
      background-color: map-get($palette, off-white);
      box-shadow: -2px 20px 16px rgba(0, 0, 0, .15);
      transition: all 0.3s;
      @include media-type(laptop) {
        padding: 60px 30px;
      }
      @include media-type(1200px) {
        width: calc(50% - 40px);
      }
      @include media-type(1100px) {
        width: calc(50% - 20px);
      }
      @include media-type(1024px) {
        margin: 20px 5px;
        width: calc(50% - 10px);
        padding: 30px 40px;
        color: #ffffff;
        background-color: map-get($palette, blue);
        transition: all 0.3s;
      }
      @include media-type(phone) {
        height: 350px;
        margin: 10px 5px;
        width: 100%;
      }
      @include media-type(639px) {
        width: 100%;
      }
      @include media-type(420px) {
        height: auto;
        padding: 30px 25px;
      }
      & .bg-img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.25;
        z-index: 1;
        background: map-get($palette, off-white) no-repeat center center /cover;
        transition: all 0.3s;
        @include media-type(1024px) {
          background-color: map-get($palette, blue);
          background-blend-mode: darken;
          transition: all 0.3s;
        }
      }
      & .text {
        position: relative;
        z-index: 5;
        height: 100%;
        padding-bottom: 50px;
        @include flex(flex, column, nowrap, ai_start, jc_end);
        @include media-type(1024px) {
          padding-bottom: 30px;
        }
        @include media-type(phone) {
          padding-bottom: 0;
        }
        @include media-type(420px) {
          padding-bottom: 0;
        }
      }
      & h3 {
        max-width: 175px;
        font-size: 24px;
        line-height: 24px;
        font-weight: $bold;
        color: map-get($palette, grey);
        transition: all 0.3s;
        margin-bottom: 20px;
        &::after {
          content: "";
          display: block;
          width: 40px;
          height: 2px;
          background-color: map-get($palette, blue);
          margin-top: 10px;
          transition: all 0.3s;

        }
        @include media-type(1024px) {
          color: #ffffff;
          transition: all 0.3s;
          &::after {
            background-color: #ffffff;
            transition: all 0.3s;
          }
        }
      }
      & .hidden {
        max-height: 0;
        overflow: hidden;
        transition: all ease 0.5s;
        @include media-type(1024px) {
          max-height: 100%;
          transition: all ease 0.5s;
        }
        & p {
          font-size: 16px;
          line-height: 20px;
          color: map-get($palette, grey);
          transition: all 0.3s;
          @include media-type(1024px) {
            color: #ffffff;
            transition: all 0.3s;
          }
        }

      }
      & .unit-anchor {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
      }
      &:hover,
      &:focus {
        color: #ffffff;
        background-color: map-get($palette, blue);
        transition: all 0.3s;
        & h3 {
          color: #ffffff;
          transition: all 0.3s;
          &::after {
            background-color: #ffffff;
            transition: all 0.3s;
          }
        }
        & .hidden {
          max-height: 100%;
          transition: all ease 0.5s;
          & p {
            color: #ffffff;
            transition: all 0.3s;
          }
        }
        & .bg-img {
          background-color: map-get($palette, blue);
          background-blend-mode: darken;
          transition: all 0.3s;
        }
        & .text {
          padding-bottom: 10px;
          overflow: hidden;
          & .hidden {
            overflow: visible;
          }
        }
      }
    }
    &.dual-wrapper {
      & .unit {
        width: calc(50% - 40px);
        @include media-type(phone) {
          width: 100%;
        }
      }
    }
    &.triple-wrapper {
      & .unit {
        width: calc(33% - 20px);
        @include media-type(phone) {
          width: 100%;
        }
      }
    }
  }
}

//@media screen and (max-width: 1100px) {
//  .PlatformApplicationsPanel {
//    padding: 80px 40px;
//  }
//}

@media screen and (max-width: 1024px) {
  .PlatformApplicationsPanel {
    & p {
      font-size: 18px;
      line-height: 22px;
    }
  }
}

@media screen and (max-width: 850px) {
  .PlatformApplicationsPanel {
    //padding: 80px 0;
    & p {
      font-size: 16px;
      line-height: 20px;
    }
  }
}