.PotentialCPT {
  min-height: 910px;
  padding: 15px 0;

  .overlay {
    position: absolute;
    top: 0;
    @include overlay($white);
    z-index: 1;
    width: 100%;
    height: 100%;
    top: unset;
    bottom: 0;
    opacity: 1;

    transition: opacity .3s ease;
    // transition-delay: .3s;

    &:first-child {
      left: 0;
    }
    &:last-child {
      right: 0;
      left: unset;
    }

    @include media-type(phone) {
      height: 100%;
    }
  }

  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 11;

    @include media-type(tablet) {
      display: none !important;
    }

    &.left-potential-arrow {
      left: -50px;

      @include media-type(1440px) {
        left: -30px;
      }
      @include media-type(1200px) {
        display: none !important;
      }
    }
    &.right-potential-arrow {
      right: -50px;
      @include media-type(1440px) {
        right: -30px;
      }
      @include media-type(1200px) {
        display: none !important;
      }
    }
    & i{
      font-size: 37px;
      color: #5A5A5A;
      transition: color 0.3s;
      &:hover{
        color: map-get($palette, blue);
      }
    }
  }

  .potentials-slider {
    .slick-list {
      // padding: 0 30px !important;

      .slick-track {
        @include flex(flex, ai_center);
        height: 537px;
        .potential {
          position: relative;
          //height: 436px;
          width: 400px;
          outline: 0;
          @include media-type(550px) {
            width: 350px;
          }
          @include media-type(500px) {
            width: 300px;
          }
          @include media-type(450px) {
            width: 289px;
          }

          .card {
            background-color: #262626;
            color: $white;

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 400px;
            //height: 436px;
            height: auto;
            min-height: 450px;
            transition: height .3s ease, width .2s ease;
            transition-delay: .3s;

            @include media-type(550px) {
              width: 350px;
            }
            @include media-type(500px) {
              width: 300px;
            }
            @include media-type(450px) {
              width: 289px;
            }
            .cimg {
              max-height: 344px;
              padding-bottom: 56.25%;
              position: relative;
              @include bg-cover;
              & .full-study-link {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
              }
            }

            .cbody {
              padding: 20px 40px;
              & h3.title{
                font-size: 20px;
                font-weight: 700;
                line-height: 24px;
                color: white;
                padding-bottom: 10px;
              }
              & p{
                font-size: 16px;
                line-height: 22px;
              }
              & .excerpt-read-more {
                display: none;
              }
            }

            .cfooter {
              text-align: center;
              padding-bottom: 20px;
            }
          }

          &.slick-center {
            .card {

              //width: 521px;
              width: 120%;
              height: 537px;

              @include media-type(550px) {
                width: 400px;
              }
              @include media-type(500px) {
                width: 321px;
              }
              @include media-type(450px) {
                width: 289px;
              }
              .cbody {
                padding: 40px;
              }

              .cfooter {
                //padding-bottom: 40px;
              }
            }

            .overlay {
              opacity: 0;
              z-index: -1;
            }

          }
          &.slick-current {
            z-index: 22;
            overflow: visible;
          }

        }
      }
    }
  }

}
  
