.PrintLocations{
  & .hero-wrapper {
    height: calc(100vh - 95px);
    min-height: 845px;
    position: relative;
    width: 100%;
    overflow-y: hidden;
    @include media-type (900px) {
      min-height: 800px;
    }
    & .hero-map {
      width: 100%;
      height: 100%;
      background: transparent no-repeat center center /cover;
      position: relative;
      z-index: 1;
    }
    & .landing-search-wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      background-color: rgba(0,0,0,0.85);
      padding: 30px;
      width: 500px;
      max-width: 100%;
      z-index: 2;
      @include translate(-50%, -50%);
      &.hide {
        display: none;
      }
      & h2 {
        color: white;
        text-align: center;
        font-weight: 400;
        margin-bottom: 20px;
        font-size: 24px;
        line-height: 30px;
      }
      & form {
        background-color: transparent;
      }
    }
    & form {
      padding: 6px;
      background-color: #1f1f1f;
      & .row{
        @include flex(flex, jc_start, ai_center, nowrap);
        margin: 0;
      }
      & .input-wrapper {
        padding-right: 6px;
        width: calc(100% - 53px);
        & input{
          padding: 16px 20px;
          background-color: white;
          color: #262626;
          border: 1px solid #5f5f5f;
          outline: none;
          font-size: 16px;
          transition: border 0.3s;
          max-width: 100%;
          width: 100%;
        }
        &.grey{
          & input{
            color: white;
            background-color: #5f5f5f;
          }
        }
      }
      & .button{
        background-color: map-get($palette, blue);
        border: none;
        color: #FFFFFF;
        font-weight: 700;
        padding: 10px 47px;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        text-align: center;
        cursor: pointer;
        font-size: 18px;
        & .fa{
          font-weight: 900;
        }
        &.icon-only{
          padding: 17px 20px;
          line-height: 18px;
        }
        &:hover,
        &:focus{
          background-color: map-get($palette, blue);
          -webkit-transition: all .3s;
          -moz-transition: all .3s;
          -o-transition: all .3s;
          transition: all .3s;
        }
      }
    }
    & #search-wrapper {
      position: absolute;
      z-index: 2;
      width: 455px;
      max-width: 100%;
      & br {
        display: none;
      }
      & .sidebar-tab {
        position: absolute;
        background-color: #1F1F1F;
        right: -25px;
        width: 25px;
        padding: 15px 5px;
        color: #FFFFFF;
        cursor: pointer;
        & .fa {
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          transition: all .2s;
        }
        &.closed {
          & .fa {
            -webkit-transform: rotate(-180deg);
            -moz-transform: rotate(-180deg);
            -o-transform: rotate(-180deg);
            transform: rotate(-180deg);
            transition: all .2s;
          }
        }
      }
      &.hide {
        display: none;
      }
      @include media-type(900px) {
        width: 100%;
        position: static;
      }
      &.open {
        height: 100%;
        @include media-type(900px) {
          height: 365px;
        }
        & .results-wrapper {
          display: block;
        }
      }
      & .results-wrapper {
        height: calc(100% - 65px);
        overflow-x: hidden;
        position: relative;
        width: 100%;
        background-color: rgba(0,0,0,0.85);
        display: none;
        color: #d6d6d6;
        &.show-details {
          & .all-results-wrapper {
            left: -100%;
            transition: left 0.3s;
          }
          & .result-details-wrapper {
            left: 0;
            transition: left 0.3s;
          }
        }
        & .all-results-wrapper {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          transition: left 0.3s;
          & .results-list {
            height: calc(100% - 80px);
            overflow-y: auto;
            &::-webkit-scrollbar {
              width: 16px;
            }
            &::-webkit-scrollbar-track {
              background: rgba(0,0,0,0.4);
            }
            &::-webkit-scrollbar-thumb {
              background: #5F5F5F;
              border-right: 5px solid rgba(0,0,0,0.8);
              border-left: 5px solid rgba(0,0,0,0.8);
              &:hover {
                background-color: #5F5F5F;
              }
            }
            & .result {
              border-bottom: 1px solid #5F5F5F;
              background: transparent;
              padding: 30px 35px;
              cursor: pointer;
              position: relative;
              transition: all 0.3s;
              &:hover {
                background-color: rgba(0,0,0,0.26);
                transition: all 0.3s;
              }
              &::after {
                content: "\f105";
                font-weight: bold;
                font-size: 16px;
                font-family: FontAwesome, serif;
                color: map-get($palette, blue);
                position: absolute;
                top: calc(50% - 8px);
                right: 25px;
              }
              & p {
                &:first-of-type {
                  font-size: 18px;
                  margin-bottom: 8px;
                }
              }
            }
          }
          & .results-bottom {
            background-color: rgba(0,0,0,0.4);
            height: 80px;
            color: #989898;
            font-size: 14px;
            padding: 30px 35px 30px 30px;
            @include flex(flex, jc_between, ai_center);
            & .arrow {
              width: 22px;
              height: 22px;
              background-color: map-get($palette, blue);
              padding: 4px;
              text-align: center;
              cursor: pointer;
              transition: all 0.3s;
              &:hover {
                background-color: map-get($palette, blue);
                transition: all 0.3s;
              }
              & i {
                color: white;
              }
            }
          }
        }
        & .result-details-wrapper {
          position: absolute;
          left: 100%;
          top: 0;
          width: 100%;
          height: 100%;
          transition: left 0.3s;
          overflow-y: auto;
          & p {
            font-size: 16px;
          }
          &::-webkit-scrollbar {
            width: 16px;
          }
          &::-webkit-scrollbar-track {
            background: rgba(0,0,0,0.4);
          }
          &::-webkit-scrollbar-thumb {
            background: #5F5F5F;
            border-right: 5px solid rgba(0,0,0,0.8);
            border-left: 5px solid rgba(0,0,0,0.8);
            &:hover {
              background-color: #5F5F5F;
            }
          }
          & .result-details-top {
            height: calc(100% - 325px);
            min-height: 500px;
            @include media-type(900px) {
              height: auto;
              min-height: 400px;
            }
            & .back-to-results {
              color: map-get($palette, blue);
              font-size: 14px;
              padding: 20px 30px;
              cursor: pointer;
              transition: color 0.3s;
              width: 100%;
              display: block;
              @include media-type(900px) {
                padding: 15px 30px;
              }
              &:hover {
                color: white;
                transition: color 0.3s;
              }
              & i {
                margin-right: 10px;
              }
            }
            & .result-image {
              width: 100%;
              height: 150px;
              background: transparent no-repeat center center /cover;
              @include media-type(750px) {
                height: 100px;
              }
            }
            & .result-title {
              padding: 40px 30px;
              border-bottom: 1px solid #5F5F5F;
              @include media-type(900px) {
                padding: 30px;
              }
              & p {
                &:first-of-type {
                  font-size: 18px;
                  margin-bottom: 8px;
                }
              }
            }
            & .result-meta {
              padding: 30px;
              & > div {
                & + div {
                  margin-top: 20px;
                }
              }
              & i {
                color: map-get($palette, blue);
                margin-right: 15px;
              }
              & .hours-wrapper {
                position: relative;
                & .view-hours {
                  margin-left: 5px;
                  cursor: pointer;
                  & i {
                    margin: 0 0 0 5px;
                    font-size: 12px;
                  }
                  &:hover {
                    & + ul.open-hours {
                      display: block;
                    }
                  }
                }
                & ul.open-hours {
                  position: absolute;
                  top: 25px;
                  left: 133px;
                  display: none;
                  background-color: rgba(0,0,0,0.8);
                  padding: 15px 20px;
                  z-index: 2;
                  & li {
                    list-style: none;
                    font-size: 14px;
                    & + li {
                      margin-top: 5px;
                    }
                  }
                }
              }
            }
          }
          & .result-details-bottom {
            & .file-upload-wrapper {
              & input {
                position: absolute;
                left: -99999px;
              }
              & label {
                background-color: map-get($palette, blue);
                padding: 6px;
                position: relative;
                width: 100%;
                display: block;
                cursor: pointer;
                transition: all 0.3s;
                &:hover {
                  opacity: 0.8;
                  transition: all 0.3s;
                }
                &::after {
                  content: "";
                  position: absolute;
                  width: calc(100% - 14px);
                  height: calc(100% - 14px);
                  top: 6px;
                  left: 6px;
                  border: 1px solid white;
                }
                & span {
                  display: block;
                  color: white;
                  text-align: center;
                  padding: 30px 20px;
                  &.faux-button {
                    width: calc(100% - 25px);
                    margin: 0 auto 25px auto;
                    background-color: black;
                    padding: 20px;
                  }
                }
              }
            }
            & .detail-actions {
              @include flex(flex, jc_center, ai_center);
              padding: 50px 20px;
              & .action {
                text-align: center;
                width: calc(33% - 10px);
                padding: 0 5px;
                cursor: pointer;
                & p {
                  line-height: 16px;
                }
                & .details-icon {
                  margin: 0 auto;
                  width: 22px;
                  height: 25px;
                  text-align: center;
                  &:hover {
                    & .svg-icon {
                      fill: map-get($palette, blue);
                    }
                  }
                }
                & .svg-icon {
                  fill: #ffffff;
                }
                &:hover {
                  & i {
                    color: map-get($palette, blue);
                    transition: all 0.3s;
                  }
                }
                & i {
                  font-size: 22px;
                  color: white;
                  transition: all 0.3s;
                  height: 25px;
                  &.fa-mobile-phone {
                    font-size: 26px;
                  }
                }
                & span {
                  font-size: 14px;
                  width: 100%;
                  display: block;
                  color: map-get($palette, blue);
                  margin-top: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}