.request-info {
  min-height: 117px;
  @include flex(flex,ai_center);
  padding: 15px 0;
  h3 {
    width: 100%;
      @include media-type(phone) {
        text-align: center;
      }
    }
  .col.s4 {
    display: flex;
    align-items: center;
  }

  .col.s8 {
    display: flex;
    align-items: center;
    @include media-type(phone) {
      justify-content: center;
    }
  }

  form {
    width: 100%;
    @include media-type(640px) {
      max-width: 420px;
    }
    @include media-type(320px) {
      max-width: 220px;
    }
    
    .input-group {
      
      @include media-type(640px) {
        @include flex(f-jcc);
      }
      
      .right {
        
        @include media-type(640px) {
          width: 100%;
        }
      }
    }
  }

  .input {
    margin-right: 15px;
  }
  
  .input:first-child {
    max-width: 282px;
  }
  
  .input:last-child {
    max-width: 350px;
  }
}