.RightTextTwoThirdsOverVidOrImageWithLeftImageAndButton{
    min-height: 698px;
    padding-top: 60px;
    padding-bottom: 60px;
    @include bg-cover;
    @include flex(flex, ai_center);

    *{
        @include media-type(768px){
            text-align: center;
        }
    }

    h2 + h3{
        margin-top: -10px;
        margin-bottom: 35px;
      font-weight: 400;
    }
    .col.s8, .col.s4{

        flex-basis: 0;
        flex-grow: 1;
        padding-top: 0;
        padding-bottom: 0;
        @include media-type(768px){
            flex-basis: unset;
            flex-grow: unset;
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }
    .col.s4.image{
        @include bg-cover;
        align-items: center;
        display: flex;
        @include media-type(768px){
            justify-content: center;
        }
        img{
            max-width: 100%;
            height: auto;
        }
    }
    .col.s8{
        @include flex(flex, column, jc_center);
      & .content{
        padding-left: 80px;
        @include media-type(phone){
          padding-left: 0;
        }
      }
    }

    p{
        margin-bottom: 25px;
    }
}