.RightTextOverVidOrImageWithButton {
  position: relative;
  overflow: hidden;
  min-height: 655px;
  @include bg-cover();
  @include flex(flex,ai_center);
  * {
    @include media-type(768px) {
      text-align: center;
    }
  }
  .col.s6 {
    max-width:425px;
  }
}
