.RightImageWithIcons {
  overflow-x: hidden;
  & .container {
    max-width: 100%;
  }
  & .col {
    padding: 0;
  }
  & .content-wrapper {
    @include flex(flex, row, nowrap, jc_end, ai_center);
    position: relative;
    & .content-text {
      width: 800px;
      padding-left: 100px;
      max-width: 50%;
      position: relative;
      z-index: 5;
      & h1, h2, h3, h4, h5, h6 {
        margin-bottom: 20px;
      }
      & .icon-wrapper {
        margin-top: 40px;
        @include flex(flex, row, wrap, ai_start, jc_start);
        width: 100%;
        & .unit {
          width: 50%;
          padding-right: 50px;
          max-width: 280px;
          margin-bottom: 50px;
          & img {
            max-width: 90px;
            margin-bottom: 20px;
          }
          & h3 {
            font-size: 21px;
            font-weight: $bold;
            margin-bottom: 10px;
          }
          & p {
            font-size: 16px;
          }
        }
      }
    }
    & .content-image {
      width: 50%;
      height: 700px;
      position: relative;
      z-index: 1;
      & img {
        width: auto;
        height: 100%;
        max-width: unset;
        display: block;
        position: absolute;
        left: -20px;
        top: 0;
        z-index: 1;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .RightImageWithIcons {
    & .content-wrapper {
      & .content-text {
        padding-left: 80px;
        & h1, h2, h3, h4, h5, h6 {
          font-size: 30px;
        }
        & p {
          font-size: 15px;
        }
        & .icon-wrapper {
          & .unit {
            width: 50%;
            & h3 {
              font-size: 16px;
            }
            & p {
              font-size: 13px;
            }
          }
        }
      }
      & .content-image {
        height: 500px;
        & img {
          left: - 50px;
        }
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .RightImageWithIcons {
    & .content-wrapper {
      & .content-image {
        & img {
          left: - 25px;
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .RightImageWithIcons {
    & .content-wrapper {
      padding: 20px 50px;
      @include flex(flex, row, nowrap, jc_center, ai_center);
      & .content-text {
        width: 100%;
        max-width: 100%;
        padding: 0;
        text-align: center;
        & .icon-wrapper {
          @include flex(flex, row, wrap, ai_start, jc_center);
          & .unit {
            width: 100%;
            padding: 0 20px;
          }
        }
      }
      & .content-image {
        display: none;
      }
    }
  }
}