.Solutions {
  text-align: center;
  @include padding-y(30px);
  @include flex(flex, ai_center);
  background-repeat: no-repeat;
  @include bg-cover;

  & > .container > .row {
    justify-content: center;
  }
  .col.s12 {
    margin-bottom: 50px;
  }
  .title-container {
    max-width: 435px;
    margin: auto;

    .title {
      margin-bottom: 30px;
    }
    .subtitle {
    }
  }

  .card {
    background-color: map-get($map: $palette, $key: dark-grey);
    max-width: 327px;
    min-height: 422px;
    position: relative;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    @include media-type(phone) {
      max-width: unset;
      @include margin-x(30px);
      max-width: 60%;
    }
    @include media-type(520px) {
      max-width: 80%;
    }
    &::before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: map-get($map: $palette, $key: blue);
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s;
    }

    h2, h3, p {
      color: $white;
      margin-bottom: 30px;
    }
    //.cheader {
    //  position: absolute;
    //  z-index: 20;
    //  bottom: 0;
    //  left: 0;
    //  width: 100%;
    //  padding-bottom: 120px;
    //  transition: all 0.3s ease;
    //  @include padding-x($gutter-size);
    //  & h3{
    //    margin-bottom: 0;
    //  }
    //  @include media-type(tablet) {
    //    padding-bottom: 150px;
    //  }
    //}
    .cbody {
      padding: $gutter-size;
      position: absolute;
      z-index: 20;
      bottom: 0;
      left: 0;
      width: 100%;
      padding-bottom: 30px;
      & h3.title{
        position: absolute;
        margin-bottom: 0;
        padding: 20px;
        transition: all 0.3s ease;
        top: -80px;
        left: 0;
        width: 100%;
      }
      & p{
        margin-bottom: 0;
      }
    }

    .cfooter {
      height: 98px;
      .btn-container {
        text-align: center;
      }
    }
    & .caction{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 20;
      background: transparent;
    }
    &:hover{
      &::before{
        opacity: 0.5;
        visibility: visible;
      }
      & .cbody{
        & .title{
          padding-bottom: 15px;
          top: -120%;
          &::after{
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            width: 30px;
            height: 1px;
            background: map-get($palette, blue);
            @include translate(-50%, -50%);
          }
        }
      }
    }
    @include media-type(phone) {
      &::before{
        opacity: 0.5;
        visibility: visible;
      }
      & .cbody{
        & .title{
          position: relative;
          top: 0;
          margin-bottom: 20px;
          &::after{
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            width: 30px;
            height: 1px;
            background: map-get($palette, blue);
            @include translate(-50%, -50%);
          }
        }
      }
    }
  }

}