


.SolutionSection{
  height: 100vh;
  min-height: 650px;
  width: 100%;
  position: relative;
  overflow: hidden;
  @include bg-cover();

  .pfi-shortcode-inner{
    .solution-section-inner{

      .solution-top{
        @include flex(flex,nowrap,ai_center,jc_space_between);
        .solution-tl{
          width: 49%;

        }
        .solution-tr{
          max-width: 480px;
          padding: 0 80px 0 40px;
          img{
            max-width: 100%;
          }
        }
      }

      .solution-main-content{
        border-top: 1px solid $white;
        border-bottom: 1px solid $white;
        margin: 40px 0;
        padding: 42px 0;
        .solution-mc-left{
          width: 100%;
          max-width: 43%;
        }
      }

      .learn-more{

        a{
          @include a-hover-before();
          @include transition();
          font-weight:600;
          &:after{
            content: "\f067";
            font-weight:300;
            right: -20px;
            top: -8px;
            font-size: 12px;
            color: $green-animation;
          }
          &:hover{
            color: $green-animation;
            &:after{
              right: -20px;
              top: -8px;
            }
          }
        }
      }


    }
  }

}




@media screen and (max-width: 1368px){

  .SolutionSection {
    .pfi-shortcode-inner {
      .solution-section-inner {
        .solution-top {
          .solution-tl{
            width: 55%;
          }
          .solution-tr{
            padding: 0 40px 0 60px;
            width: 40%;
          }
        }

        .solution-main-content{
          margin: 30px 0;
          padding: 32px 0;
          .solution-mc-left{
            width: 100%;
            max-width: 55%;
          }
        }

      }
    }
  }

}





@media screen and (max-width: 768px){

  .SolutionSection {
    .pfi-shortcode-inner {
      .solution-section-inner {
        .solution-top {
          .solution-tl{
            width: 60%;
          }
          .solution-tr{
            padding: 0 0px 0 60px;
          }
        }
        .solution-main-content{
          .solution-mc-left{
            max-width: 60%;
          }
        }

      }
    }
  }

}




@media screen and (max-width: 500px){


  .SolutionSection {
    height: auto;
    min-height: 0px;

    .pfi-shortcode-inner {
      .solution-section-inner {
        padding: 70px 30px;
        .solution-top {
          @include flex(flex,wrap);
          .solution-tl{
            width: 90%;

          }
          .solution-tr{
            width: 100%;
            padding: 20px 0px 0px;
            img{
              max-width: 200px;
              max-height: 70px;
            }
          }
        }
        .solution-main-content{
          .solution-mc-left{
            max-width: 100%;
          }
        }
      }
    }
  }

}