.SolutionsHero {
  background-color: map-get($palette, blue);
  min-height: 590px;
  text-align: center;
  position: relative;
  & .container {
    height: 100%;
    position: relative;
    z-index: 5;
    & .content {
      //max-width: 790px;
      margin: 0 auto;
    }
  }
  & h1 {
    color: #FFFFFF;
    font-weight: $bold;
    font-size: 54px;
    line-height: 55px;
    margin-bottom: 20px;
  }
  & p {
    color: #FFFFFF;
    max-width: 550px;
    margin: 0 auto;
  }
  & .btn-container {
    margin-top: 50px;
    & .btn {
      color: map-get($palette, white);
      background-color: #353535;
      margin: 0 10px;
      &:hover{
        background-color: map-get($palette, blue);
      }
      @include media-type(phone) {
        background-color: map-get($palette, blue);
      }
      @include media-type(639px) {
        display: block;
        margin: 10px;
      }
    }
  }
  & .bg-img {
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

@media screen and (max-width: 1024px) {
  .SolutionsHero {
    min-height: 450px;
    & h1 {
      font-size: 37px;
      line-height: 38px;
    }
    & p {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

@media screen and (max-width: 650px) {
  .SolutionsHero {
    min-height: 450px;
    & h1 {
      font-size: 26px;
      line-height: 30px;
    }
    & p {
      font-size: 16px;
      line-height: 24px;
    }
    & .btn-container {
      & .btn {
        //font-size: 11px;
        //padding: 15px;
      }
    }
  }
}