.Stepper {
  @include flex(ai_center);
  @include media-type(639px) {
    min-height: 0 !important;
  }
  & .content {
    //padding: 80px 0;
    padding: 10px 0;
    & h1,
    & > p {
      text-align: center;
    }
    & .stepper-nav {
      width: 100%;
      margin: 50px auto 0;
      max-width: 970px;
      @include flex(flex, row, nowrap, jc_center, ai_start);
      & .stepper-nav-inner {
        width: auto;
        max-width: calc(100% - 190px);
        margin: 0 auto;
        @include flex(flex, row, nowrap, jc_start, ai_start);
        overflow-x: hidden;
        & .step {
          height: 100%;
          position: relative;
          min-width: 215px;
          left: 0;
          @include flex(flex, row, nowrap, jc_space_between, ai_center);
          & .step-inner {
            //width: 100px;
            width: 140px;
            text-align: center;
            cursor: pointer;
            & > p {
              text-align: center;
              display: block;
              width: 100%;
              opacity: 0.5;
              font-weight: $med;
              margin-top: 15px;
              font-size: 16px;
              line-height: 18px;
              overflow-wrap: break-word;
              word-wrap: break-word;
              -webkit-hyphens: auto;
              -ms-hyphens: auto;
              hyphens: auto;
            }
          }
          &::after {
            content: "";
            margin: 0 5px;
            width: calc(100% - 39px);
            height: 6px;
            border-radius: 3px;
            display: block;
            background-color: #c9c9c9;
            top: 27px;
            right: -55px;
            position: absolute;
          }
          &:last-of-type {
            min-width: 100px;
            &::after {
              display: none;
            }
          }
          &.last-visible,
          &.before-first-visible {
            &::after {
              display: none;
            }
          }
          &.before-active {
            &::after {
              //right: 0;
              //width: calc(100% - 55px);
              right: -40px;
              width: calc(100% - 55px);
            }
          }
          &.done {
            &::after {
              background-color: map-get($palette, green);
            }
            & .icon-wrapper {
              & .icon {
                background-color: map-get($palette, green);
              }
            }
          }
          &.active {
            &::after {
              width: calc(100% - 55px);
            }
            & .step-inner {
              cursor: initial;
              & > p {
                opacity: 1;
              }
            }
            & .icon-wrapper {
              & .icon {
                width: 58px;
                height: 58px;
                background-color: map-get($palette, blue);
                & > span {
                  font-size: 26px;
                  opacity: 1;
                }
              }
            }
          }
          & .icon-wrapper {
            height: 60px;
            @include flex(flex, row, wrap, jc_center, ai_center);
            & .icon {
              border-radius: 50%;
              text-align: center;
              width: 28px;
              height: 28px;
              //margin: 0 auto;
              @include flex(flex, row, nowrap, jc_center, ai_center);
              background-color: map-get($palette, primary);
              & span {
                width: 100%;
                display: block;
                font-weight: 700;
                color: #FFFFFF;
                font-size: 16px;
              }
            }
          }
        }
      }
      & .step-arrow {
        height: 60px;
        width: 45px;
        @include flex(flex, row, wrap, jc_center, ai_center);
        &.show {
          & i {
            display: block;
          }
        }
        &.prev {
          padding-right: 30px;
        }
        &.next {
          padding-left: 30px;
        }
        & i {
          font-size: 20px;
          color: map-get($palette, primary);
          cursor: pointer;
          display: none;
          transition: all 0.3s;
          &:hover,
          &:focus {
            color: map-get($palette, blue);
            transition: all 0.3s;
          }
        }
      }
    }
    & .stepper-content-wrapper {
      position: relative;
      //min-height: 620px;
      overflow: hidden;
      & .stepper-content {
        //position: absolute;
        width: 100%;
        //height: 100%;
        height: 0;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, height 0.3s;
        @include flex(flex, row, nowrap, jc_center, ai_start);
        &.active {
          opacity: 1;
          visibility: visible;
          transition: opacity 0.3s, height 0.3s;
          height: auto;
        }
        & > div {
          width: 50%;
          padding: 80px 50px;
          &.stepper-img {
            position: relative;
            text-align: center;
            & img {
              max-width: 100%;
              height: auto;
            }
          }
          &.stepper-text {
            height: 100%;
            @include flex(flex, column, nowrap, jc_space_between);
            & h1, h2, h3, h4, h5, h6 {
              font-weight: $bold;
              margin-bottom: 20px;
            }
            & p {
              & + p {
                margin-top: 20px;
              }
            }
            & .stepper-text-inner {
              padding-bottom: 40px;
              overflow-y: auto;
              height: calc(100% - 36px);
              @include media-type(phone) {
                padding-bottom: 50px;
              }
            }
          }
        }
      }
      & .stepper-content-arrows {
        height: 36px;
        position: absolute;
        z-index: 10;
        right: 50px;
        bottom: 50px;
        @include flex(flex, row, nowrap, jc_end);
        & .content-arrow {
          color: #c9c9c9;
          width: 46px;
          font-size: 36px;
          padding-left: 20px;
          transition: all 0.3s;
          &:hover,
          &:focus {
            color: map-get($palette, blue);
            transition: all 0.3s;
          }
          &.show {
            cursor: pointer;
            & i {
              display: block;
            }
          }
          & i {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .Stepper {
    & .content {
      & .stepper-nav {
        max-width: 760px;
        & .stepper-nav-inner {
          max-width: calc(100% - 100px);
          & .step {
            min-width: 175px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .Stepper {
    & .content {
      & .stepper-content-wrapper {
        //min-height: 850px;
        & .stepper-content {
          @include flex(flex, row, wrap, jc_center, ai_start);
          & > div {
            padding: 50px 0 0;
            width: 100%;
            &.stepper-img {
              & img {
                max-width: 400px;
                margin: 0 auto;
              }
            }
            &.stepper-text {
              max-width: 600px;
              text-align: center;
            }
          }
        }
        & .stepper-content-arrows {
          //bottom: 10px;
          bottom: 0;
          right: 10px;
        }
      }
      & .stepper-nav {
        & .step-arrow {
          &.prev {
            padding-right: 15px;
          }
          &.next {
            padding-left: 15px;
          }
        }
        & .stepper-nav-inner {
          max-width: calc(100% - 90px);
          & .step {
            min-width: 170px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 870px) {
  .Stepper {
    & .content {
      & .stepper-nav {
        max-width: 600px;
        & .stepper-nav-inner {
          max-width: calc(100% - 90px);
          & .step {
            min-width: 130px;
            &.before-active {
              &::after {
                right: -20px;
              }
            }
            &::after {
              right: -35px;
            }
            & .step-inner {
              width: 100px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .Stepper {
    & .container {
      padding: 0 20px;
      & .col {
        padding: 20px 0;
      }
    }
    & .content {
      & .stepper-content-wrapper {
        //min-height: 825px;
      }
      & .stepper-nav {
        max-width: 500px;
        & .step-arrow {
          &.prev {
            padding-right: 10px;
          }
          &.next {
            padding-left: 10px;
          }
        }
        & .stepper-nav-inner {
          max-width: calc(100% - 80px);
          & .step {
            min-width: 100px;
            & .step-inner {
              & > p {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .Stepper {
    & .content {
      & .stepper-nav {
        max-width: 380px;
        & .step-arrow {
          width: 25px;
          & i {
            font-size: 14px;
          }
        }
        & .stepper-nav-inner {
          & .step {
            min-width: 80px;
            &:last-of-type {
              min-width: 80px;
            }
            &::after {
              right: -30px;
              width: calc(100% - 30px);
            }
            &.before-active {
              &::after {
                width: calc(100% - 40px);
              }
            }
            &.active {
              &::after {
                width: calc(100% - 40px);
              }
              & .icon-wrapper {
                & .icon {
                  width: 40px;
                  height: 40px;
                  & > span {
                    font-size: 20px;
                  }
                }
              }
            }
            & .icon-wrapper {
              & .icon {
                width: 20px;
                height: 20px;
                & > span {
                  font-size: 13px;
                }
              }
            }
          }
        }
      }
      & .stepper-content-wrapper {
        & .stepper-content {
          & > div {
            &.stepper-img {
              & img {
                max-width: 200px;
              }
            }
          }
        }
        & .stepper-content-arrows {
          //bottom: auto;
          //right: 0;
          //top: 130px;
          width: 100%;
          @include flex(flex, row, nowrap, jc_space_between);
          & .content-arrow {
            //padding: 0;
            width: auto;
            font-size: 18px;
            color: map-get($palette, blue);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .Stepper {
    & .content {
      & .stepper-nav {
        max-width: 280px;
        & .stepper-nav-inner {
          & .step {
            min-width: 50px;
            &.before-active {
              &::after {
                right: -5px;
              }
            }
            &::after {
              right: -15px;
            }
            & .step-inner {
              width: 50px;
            }
            &:last-of-type {
              min-width: 50px;
            }
          }
        }
      }
    }
  }
}