.TestimonialsCPT {
  padding: 150px 0 115px 0;
  .col.s4.overlay {
    position: absolute;
    top: 0;
    @include overlay($white);
    z-index: 1;
    width: 100%;
    height: 120%;
    max-width: 120%;
    top: unset;
    bottom: 0;
    transition: opacity .3s ease;
    &:first-child {
      left: 0;
    }
    &:last-child {
      right: 0;
      left: unset;
    }
    @include media-type(phone) {
      height: 100%;
    }
  }

  .arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 11;

    @include media-type(tablet){
      display: none !important;
    }

    &.left-testimonial-arrow{
      left: -20px;

      @include media-type(1440px){
        left: -30px;
      }
      @include media-type(1200px){
        display: none !important;
      }
    }
    &.right-testimonial-arrow{
      right: -20px;
      @include media-type(1440px){
        right: -30px;
      }
      @include media-type(1200px){
        display: none !important;
      }
    }
    & i{
      font-size: 37px;
      color: #5A5A5A;
      transition: color 0.3s;
      &:hover{
        color: map-get($palette, blue);
      }
    }
  }

  .testimonial-slider {
    .slick-list {
      //padding: 0 20px !important;
    }
    // slick stuff
    .slick-track {
      @include flex(flex, jc_center, ai_center);
      height: 510px;
      .slick-center {
        max-width: 400px;
        width: 100% !important;
        //height: 440px;
        height: 400px;
        //@include padding-y(65px);
        @include padding-y(42px);
        @include media-type(phone) {
          max-width: 316px;
        }
        @include media-type(500px) {
          //max-width: 240px;
        }
        .overlay {
          opacity: 0;
        }
        //img.img-icon {
        //  opacity: 1;
        //}
        //img.big-quote, .quotes {
        //  opacity: 1;
        //}
      }
    }

    .testimonial {
      outline: 0;
      padding: 45px;
      position: relative;
      max-width: 310px;
      width: 100%;
      //height: 382px;
      height: 330px;
      //background-color: #262626;
      background-color: map-get($palette, blue);
      margin: 0 25px;
      //cursor: pointer;
      @include media-type(phone) {
        margin: 0 20px;
      }
      @include media-type(500px) {
        margin: 0 10px;
      }
      transition: width .3s ease, height .3s ease, padding .3s ease;
      img.img-icon {
        position: absolute;
        top: -35px;
        right: -20px;
        opacity: 0.75;
        max-height: 74px;
        max-width: 74px;
        height: 64px;
        width: 64px;
        transition: opacity .3s ease;
        opacity: 0.75;
        z-index: 11;
      }
      span, p {
        color: $white;
      }
      .quotes {
        position: absolute;
        transition: opacity .3s ease;
      }
      & img.big-quote {
        position: absolute;
        top: -35px;
        left: 15px;
        transition: opacity .3s ease;
      }
      .content {
        position: relative;
        padding-top: 10px;
        .quotes {
          top: 0;
          left: -25px;
        }
        & p{
          height: 185px;
          overflow: hidden;
        }
      }
      .footer {
        position: absolute;
        bottom: 0px;
        height: 65px;
        p {
          font-size: 13px;
        }
      }
      & .image-icons{
        //opacity: 0.5;
      }
      &.slick-current{
        & .image-icons{
          & img.img-icon{
            opacity: 1;
          }
        }
        & .content{
          & p{
            height: auto;
            overflow: hidden;
          }
        }
      }
      & .ratings{
        &.stars{
          position: relative;
          & span{
            & i{
              color: map-get($palette, white);
            }
            &.active{
              & i{
                color: map-get($palette, white);
              }
            }
            &.active~span{
              & i{
                color: white;
              }
            }
          }
        }
      }

    }

  }

}