.TestimonialPfi{
  width: 100%;
  @include bg-cover();

  .tpfi-inner{
    width: 100%;
    max-width: 1500px;
    padding: 0 30px;
    margin: 0 auto;
    @include flex(flex,nowrap);

    //h1,h2,h3,h4,h5,h6,p,a{
    //  color: $black;
    //}
    .tpfi-image{
      //position: absolute;
      @include flex(as_end);
      width: 535px;
      //max-width: 535px;
      max-height: 435px;
      text-align: center;
      img{
        max-width: 100%;
        max-height: 100%;
      }
    }
    .tpfi-content{
      position: relative;
      padding: 260px 0 240px 20px;
      width: calc(100% - 535px);
      p{
        position: relative;
        //color: $black3;
        font-size: 28px;
        line-height: 38px;
        &:before{
          font-family: "fontawesome";
          position: absolute;
          content: "\f10d";
          left: 0px;
          top: -50px;
          font-size: 38px;
          color: $green-animation;
        }
      }

    }
  }

}



@media screen and (max-width: 1280px){


  .TestimonialPfi{
    .tpfi-inner{
      .tpfi-image{
        width: 400px;
      }
      .tpfi-content{
        padding: 200px 0 160px 20px;
        width: calc(100% - 400px);
        p{
          font-size: 24px;
          line-height: 34px;
        }
      }
    }

  }

}


@media screen and (max-width: 960px){

  .TestimonialPfi{
    .tpfi-inner{
      .tpfi-image{
        width: 300px;
      }
      .tpfi-content{
        padding: 150px 0 120px 20px;
        width: calc(100% - 300px);
        p{
          font-size: 20px;
          line-height: 30px;
        }
      }
    }

  }

}



@media screen and (max-width: 800px){

  .TestimonialPfi{
    .tpfi-inner{
      @include flex(flex,wrap);
      padding: 50px;
      .tpfi-image{
        width: 100%;
        img{
          max-width: 300px;
        }
      }
      .tpfi-content{
        padding: 100px 0px 20px ;
        width: 100%;
        p{
          font-size: 20px;
          line-height: 30px;
        }
      }
    }

  }

}



