.ThreeBenefits {
  min-height: 780px;
  @include flex(flex, ai_center);
  text-align: center;
  padding: 50px 0;
  &.nopadding {
    padding: 0;
  }
  .card {
    display: block;
    .cheader {

      border: 0;
      padding: 0;
      h3 {
        margin-bottom: 15px;
        font-weight: bold;
        font-size: 30px;
      }
    }
    .cbody {

      padding: 0;

      p {
        margin-bottom: 30px;
      }
    }
    .cfooter {

      border: 0;
    }
  }
  .title {

    h2 {
      font-weight: bold;
      margin-bottom: 15px;
    }
    h3 {
      margin-bottom: 70px;
      @include media-type(1366px) {
        margin-bottom: 50px;
      }
      @include media-type(phone) {
        margin-bottom: 20px;
      }
    }

  }

}
