


.ThreeColumnPanel{
  height: calc(100vh - 90px);
  //min-height: 550px;
  width: 100%;
  position: relative;
  @include flex(flex,nowrap);

  .single_column_three_panel{
    width: 100%;
    height: 100%;
    //@include bg-cover();
    @include transition(all,0.3s);
    @include flex(flex,nowrap);
    .single-column-content{
      background-color: $white2;
      position: relative;
      width: 0px;
      //opacity: 0;
      overflow: hidden;
      @include transition(all,0.3s);
      &.show_content{
        width: 66.67%;
      }
      .tc-inner-content{
        z-index: 1;
        position: relative;
        @include flex(flex,wrap,ai_center);
        width: 100%;
        height: 100%;
        padding: 100px;
        p,a,h1,h2,h3,h4,h5,h6{
          color: $black2;
        }
        h1,h2,h3,h4,h5,h6{
          margin-bottom: 15px;
        }
        p{
          margin-bottom: 10px;
        }

        .three-panel-video{
          position: relative;
          margin-top: 20px;
          a.popup-video{
            @include a-hover-before();
            font-size: 16px;
            font-weight:600;
            &:after{
              content: "\f144";
              right: -40px;
              top: -3px;
              font-size: 24px;
              color: $green-animation;
            }
            &:hover{
              &:after{
                top: -3px;
                right: -50px;
              }
            }

          }
        }

      }
      .tc-content-close{
        z-index: 2;
        position: absolute;
        cursor: pointer;
        right: 0;
        top: 0;
        padding: 10px;
        i{
          color:$black2 ;
          font-size: 24px;
        }
      }
    }
    .single-column-img-conatiner{
      z-index: 1;
      width: 100%;
      height: 100%;
      position: relative;
      @include bg-cover();
      @include transition(all,0.3s);
      overflow: hidden;
      a.main-title{
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include flex(flex,wrap,ai_center,jc_center);
        h1{
          font-size: 40px;
          font-weight: 700;
          letter-spacing:0.02em;
          color: $white2;
          position: relative;
        }
      }


      .learn-more{
        position: absolute;
        right: 55px;
        top: 50px;
        z-index: 2;
        a{
          @include a-hover-before();
          @include transition();
          font-weight:600;
          color: $white3;
          font-size: 11px;
          &:after{
            content: "\f067";
            font-weight:300;
            right: -15px;
            top: -6px;
            font-size: 11px;
            color: $green-animation;
          }
          &:hover{
             &:after{
               right: -15px;
               top: -6px;
             }
           }
        }

      }


    }

    &.hide_panel{
      width: 0px;
      opacity: 0;
      overflow: hidden;
    }

    &.full_width{
      .single-column-img-conatiner{
        width: 33.33%;
      }
    }

  }


  .next-panel-animate{
    @include transition();
    position: absolute;
    z-index: 9;
    left: 0;
    right: 0;
    bottom: 30px;
    margin: 0 auto;
    width: 25px;
    i{
      font-size: 24px;
      color: $green-animation;
      @include transition();
    }
    &:hover{
      bottom: 24px;
    }
  }


}


@media screen and (max-width: 1368px){

  .ThreeColumnPanel {
    .single_column_three_panel {
      .single-column-img-conatiner {
        a.main-title {
          h1{
            font-size: 32px;
          }
        }
      }
    }
  }

}


@media screen and (max-width: 1024px){


  .ThreeColumnPanel {
    height: auto;
    @include flex(flex,wrap);

    .single_column_three_panel {
      @include flex(flex,wrap);
      height:400px;
      .single-column-content{
        order:2;
        width: 100%;
        height: 0px;
        .tc-inner-content{
          padding: 75px;
        }
        &.show_content{
          width: 100%;
          height:auto;
        }
      }

      &.full_width{
        height: auto;
        .single-column-img-conatiner{
          width: 100%;
          height: 0px;
          a.main-title {
            h1{
              font-size: 28px;
            }
          }
        }
      }

      &.hide_panel{
        width: 100%;
        opacity: 1;
      }
    }

  }

}


@media screen and (max-width: 768px){

  .ThreeColumnPanel {
    .single_column_three_panel {
      height:250px;
      .single-column-content {
        .tc-inner-content{
          padding: 45px;
        }
      }
    }


    .next-panel-animate{
      bottom: 20px;
      &:hover{
        bottom: 16px;
      }
    }


  }

}