.TripleIconPanel {
  padding: 100px 50px;
  text-align: center;
  background-color: map-get($palette, off-white);
  & .container {
    max-width: 1000px;
    margin: 0 auto;
  }
  & .icon-wrapper {
    margin: 50px auto 0;
    @include flex(flex, row, nowrap, ai_start, jc_center);
    max-width: 865px;
    & .unit {
      width: 33%;
      padding: 0 30px;
      max-width: 290px;
      & img {
        max-width: 90px;
        margin-bottom: 20px;
      }
      & h3 {
        font-size: 21px;
        font-weight: $bold;
        margin-bottom: 10px;
      }
      & p {
        font-size: 16px;
      }
    }
  }
}