.TwoUpActionsWithButtons{
  min-height: 637px;
  display: flex;

  *{
    @include media-type(768px){
      text-align: center;
    }
  }
  .container-fluid{
    .row{
      height: 100%;
    }
  }

  .col.s6{

    &.col-left{
      padding: 15px 7.5px 15px 15px;
      @include media-type(phone){
        padding: 15px;
        padding-bottom: 7.5px;
      }
      @include media-type(720px){
        padding: 10px;
        padding-bottom: 5px;
      }
    }
    &.col-right{
      padding: 15px 15px 15px 7.5px;
      @include media-type(phone){
        padding: 15px;
        padding-top: 7.5px;
      }
      @include media-type(720px){
        padding: 10px;
        padding-top: 5px;
      }
    }
  }

  .content{
    max-width: 450px;
  }
  .overlay-container{
    @include bg-cover;
    @include flex(flex, ai_center, jc_center);
    width: 100%;
    height: 100%;
    position: relative;
    padding: 50px 18px;
  }
  .overlay{
    @include overlay(map-get($palette, blue), .9);
  }
}