.gp-three-col {
  @include _flex_row(nowrap);
  .gp-accordian-container {
    .accordian-content {
      padding: 1.5vw;
    }
  }
  &.gp-no-bar {
    .gp-left {
      &::after {
        content: none !important;
      }
    }
    .gp-middle {
      &::after {
        content: none !important;
      }
    }
  }

  .gp-left {
    width: 33.33%;
    padding-right: 1.8vw;
    margin-right: 1.8vw;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 10px;
      bottom: 40px;
      right: 0;
      height: calc(100% - 35px);
      width: 1px;
      background: map-get($palette, blue);
    }
  }
  .gp-middle {
    width: 33.33%;
    padding-right: 1.8vw;
    margin-right: 1.8vw;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 10px;
      bottom: 40px;
      right: 0;
      height: calc(100% - 35px);
      width: 1px;
      background: map-get($palette, blue);
    }
  }
  .gp-right {
    width: 33.33%;
  }
}

@media screen and (max-width: 855px) {
  .gp-three-col {
    @include _flex_row(wrap);
    .gp-left {
      width: 100%;
      padding-right: 0vw;
      margin-right: 0vw;
      &::after {
        content: none;
      }
    }
    .gp-middle {
      width: 100%;
      padding-right: 0vw;
      margin-right: 0vw;
      &::after {
        content: none;
      }
    }
    .gp-right {
      width: 100%;
    }
  }
}

.gp-two-col {
  @include _flex_row(nowrap);
  .gp-accordian-container {
    .accordian-content {
      padding: 1.5vw;
    }
  }
  &.gp-no-bar {
    .gp-left {
      &::after {
        content: none !important;
      }
    }
  }
  .gp-left {
    width: 50%;
    padding-right: 2.8vw;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 10px;
      bottom: 40px;
      right: 0;
      height: calc(100% - 35px);
      width: 1px;
      background: map-get($palette, blue);
    }
  }
  .gp-right {
    width: 50%;
    padding-left: 2.8vw;
  }
  &.gp-align-left-wide {
    .gp-left {
      width: 66%;
    }
    .gp-right {
      width: 34%;
    }
  }
  &.gp-align-left {
    .gp-left {
      width: 55%;
    }
    .gp-right {
      width: 45%;
    }
  }
  &.gp-align-right-wide {
    .gp-right {
      width: 66%;
    }
    .gp-left {
      width: 34%;
    }
  }
  &.gp-align-right {
    .gp-left {
      width: 45%;
    }
    .gp-right {
      width: 55%;
    }
  }

}

@media screen and (max-width: 950px) {
  .gp-two-col.landing {
    @include _flex_row(wrap);
    .gp-left {
      width: 100%;
    }
    .gp-right {
      width: 100%;
    }
  }
}

@media screen and (max-width: 855px) {
  .gp-two-col {
    @include _flex_row(wrap);
    .gp-right {
      padding: 0;
    }
    .gp-left {
      padding: 0;
    }
    &.gp-align-left-wide {
      .gp-left {
        width: 100%;
      }
      .gp-right {
        width: 100%;
      }
    }
    &.gp-align-left {
      .gp-left {
        width: 100%;
      }
      .gp-right {
        width: 100%;
      }
    }
    &.gp-align-right {
      .gp-left {
        width: 100%;
      }
      .gp-right {
        width: 100%;
      }
    }
    &.gp-align-right-wide {
      .gp-right {
        width: 100%;
      }
      .gp-left {
        width: 100%;
      }
    }
    .gp-left {
      width: 100%;
      padding-right: 0vw;
      margin-right: 0vw;
      &::after {
        content: none;
      }
    }
    .gp-right {
      width: 100%;
    }
  }
}

.gp-video-container {
  iframe {
    max-width: 100%;
  }
}

.shortcode {
  &.Heading {
    padding-top: 30px;
    & h2 {
      position: relative;
      padding: 10px 0;
      margin-bottom: 20px;
      color: map-get($palette, blue);
      font-weight: $bold;
      //&::after {
      //  content: "";
      //  position: absolute;
      //  top: 100%;
      //  left: 50%;
      //  width: 52px;
      //  height: 3px;
      //  background-color: map-get($palette, red);
      //  -webkit-transform: translateX(-50%);
      //  -moz-transform: translateX(-50%);
      //  -ms-transform: translateX(-50%);
      //  -o-transform: translateX(-50%);
      //  transform: translateX(-50%);
      //}
    }
    &.dark {
      & h2 {
        color: map-get($palette, text-grey);
      }
    }
  }
  &.TwoColShortcode {
    padding: 50px 0;
    @include media-type(phone) {
      padding: 30px 0;
    }
    @include media-type(399px) {
      padding: 10px 0;
    }
    &.nospacing{
      padding: 20px 0;
      @include media-type(phone) {
        padding: 0;
      }
      & .lg-container{
        @include media-type(639px) {
          padding: 0;
        }
      }
      & .gp-left{
        @include media-type(phone) {
          padding-bottom: 20px;
        }
      }
      & img.alignleft{
        margin-top: 0;
      }
    }
  }
  &.FullWidthImage {
    padding: 50px 0;
    @include media-type(phone) {
      padding: 30px 0;
    }
    @include media-type(399px) {
      padding: 0;
    }
    & .image-col {
      text-align: center;
      margin-bottom: 60px;
      @include media-type(phone) {
        margin-bottom: 20px;
      }
      @include media-type(399px) {
        margin-bottom: 0;
      }
      & img {
        max-width: 100%;
        height: auto;
        -webkit-box-shadow: 8px 2px 21px 2px #d6d6d6;
        -moz-box-shadow: 8px 2px 21px 2px #d6d6d6;
        box-shadow: 8px 2px 21px 2px #d6d6d6;
      }
    }
    & .content-col {
      max-width: 80%;
      margin: 0 auto;
      @include media-type(phone) {
        max-width: 100%;
      }
    }
  }
}

.shortcode-button {
  &.btn {
    @include media-type(399px) {
      display: block;
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.shortcode {
  &.videoArchive {
    & .video-section {
      .video-section-inner {
        @include flex(flex, row, wrap, ai_start);
        .video-outer {
          margin-top: 20px;
          width: 25%;
          @include flex(flex, row, wrap);
          @media screen and (max-width: 945px) {
            width: 33.333%
          }
          @media screen and (max-width: 700px) {
            width: 50%;
          }
          @media screen and (max-width: 450px) {
            width: 100%;
          }
        }
        .text {
          display: block;
          margin-top: 6px;
          margin-left: 5px;
          margin-right: 5px;
          p.video-title {
            font-size: 16px;
            line-height: 18px;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -ms-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;

          }
          &:hover {
            p.video-title {
              color: map-get($palette, blue);
            }
          }
        }
        .video {
          position: relative;
          width: 100%;

          .video-inner {
            margin-left: 5px;
            margin-right: 5px;
            overflow: hidden;
            cursor: pointer;
            a {
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;
              width: 100%;
            }
            .image-container {
              background: no-repeat center center /cover;
              min-height: 160px;
              -webkit-transition: all 0.3s;
              -moz-transition: all 0.3s;
              -ms-transition: all 0.3s;
              -o-transition: all 0.3s;
              transition: all 0.3s;
            }

            &:hover {
              .image-container {
                -webkit-transform: scale(1.05);
                -ms-transform: scale(1.05);
                transform: scale(1.05);
              }
            }
          }
        }
      }
    }
  }
  &.GPContainer{
    & a{
      color: #FFFFFF;
    }
    & ul{
      & li{
        & a{
          color: map-get($palette, blue);
        }
      }
    }
  }
  &.white-paper{
    padding: 20px 0;
    padding-bottom: 30px;
    @include media-type(phone) {
      padding: 20px 0;
    }
  }
  &.gpButtons{
    @include flex(flex, wrap, ai_center);
    @include media-type(phone) {
      @include flex(jc_space_between);
    }
    &.two{
      & > div{
        &:first-child{
          margin-right: 10px;
        }
      }
    }
  }
}