


.VideoPopupSection{
  height: calc(100vh);
  min-height: 600px;
  width: 100%;
  position: relative;
  @include bg-cover();
  .pfi-shortcode-inner{
    .pfi-shortcode-content{
      text-align: center;
      h1{
        font-size: 66px;
        line-height: 76px;
        margin-bottom: 40px;
        font-weight: 600;
      }
      a.popup-video{
        @include a-hover-before();
        font-size: 18px;
        &:after{
          //content: "\f0da";
          content: "";
          right: -40px;
          top: 4px;
          font-size: 24px;
          color: $green-animation;
          background-repeat: no-repeat;
          width: 13px;
          height: 15px;
        }
        &:hover{
          &:after{
            top: 4px;
            right: -50px;
          }
        }

      }
    }
  }

}


@media screen and (max-width: 1368px){

  .VideoPopupSection{
    .pfi-shortcode-inner{
      .pfi-shortcode-content{
        h1{
          font-size: 49px;
          line-height: 59px;
        }
      }
    }
  }
}



@media screen and (max-width: 1024px){


  .VideoPopupSection{
    min-height: 600px;
    .pfi-shortcode-inner{
      .pfi-shortcode-content{
        h1{
          font-size: 36px;
          line-height: 46px;
        }
      }
    }
  }
}


@media screen and (max-width: 768px){


  .VideoPopupSection {
    .pfi-shortcode-inner {
      .pfi-shortcode-content {
        a.popup-video{
          font-size: 15px;
          &:after{

          }
        }
      }
    }
  }

}


@media screen and (max-width: 480px){


  .VideoPopupSection{
    .pfi-shortcode-inner{
      .pfi-shortcode-content{
        h1{
          font-size: 24px;
          line-height: 32px;
        }
      }
    }
  }
}