#archives-panel{
  & .grid{
    &.hero{
      //min-height: 200px;
    }
  }
  & .container{
    & .row{
      &.reverse{
        @include flex(row_reverse);
      }
    }
  }
  & .pagination{
    text-align: center;
    margin: 50px 0;
    & .wp-pagenavi{
      & a,
      & span{
        border: none;
        color: map-get($palette, blue);
        &.current{
          color: #5a5a5a;
        }
      }
    }
  }
  & article.post,
  & article.features,
  & article.page,
  & article.case-studies{
    margin-top: 50px;
    padding-top: 50px;
    border-top: 1px solid map-get($palette, blue);
    @include media-type(phone) {
      margin-top: 30px;
      padding-top: 30px;
    }
    &:first-child{
      border-top: none;
      padding-top: 0;
    }
    & .post-thumbnail{
      margin-bottom: 15px;
      & img{
        max-width: 100%;
        height: auto;
      }
    }
    & .entry-header{
      padding-bottom: 5px;
      & a{
        color: #262626;
      }
      & .entry-title{
        padding-bottom: 10px;
        @include media-type(phone) {
          font-size: 30px;
          line-height: 40px;
        }
      }
      & .entry-meta{
        & span{
          line-height: 22px;
        }
      }
    }
    & .entry-content{
      & a{
        color: map-get($palette, blue);
      }
    }
  }
  & article.features{
    & .post-thumbnail{
      @include media-type(phone) {
        margin-bottom: 5px;
      }
    }
  }
}
.col{
  & .archive-categories{
    margin: 20px;
    background: map-get($palette, blue);
    margin-top: 50px;
    @include media-type(1024px){
      margin: 50px 0 0 0;
    }
    @include media-type(phone){
      margin: 10px 0 0;
    }
    & .archive-title{
      color: white;
      padding: 20px;
      display: block;
      border-bottom: 2px solid white;
    }
    & ul{
      padding: 20px;
      li{
        margin: 10px 0;
        & a{
          color: white;
          transition: all 0.3s;
          border-bottom: 2px solid transparent;
          &:hover{
            border-bottom-color: white;
          }
        }
      }
    }
  }
  & .no-posts{
    padding-top: 50px;
  }
}
#single-post{
  & .hero{
    @include media-type(phone) {
      min-height: 0;
      padding: 100px 0;
    }
    & .entry-title{
      padding-bottom: 10px;
    }
    & a{
      color: #F7941E;
    }
  }
  & article.post,
  & article.features{
    margin: 50px 0;
    & .general-content{
      & img{
        max-width: 100%;
        height: auto;
      }
    }
  }
  & .col{
    & .archive-categories{
      margin-top: 50px;
      @include media-type(phone) {
        margin: 20px;
      }
    }
  }
}