#blog-wrap{
  & #posts-panel{
    margin-bottom: 100px;
  }
}
.single{
  & #single-post{
    & .hero{
      & .overlay{
        @include overlay($black, 0.55);
      }
    }
  }
}
.blog{
  & #archives-panel{
    & .single{
      & .hero{
        & .overlay{
          @include overlay($black, 0.55);
        }
      }
    }
  }
}