

.site-footer {
    background-color:$black2;
    padding: 85px 0;
  .footer-container{
    width: 100%;
    max-width: 1615px;
    padding: 0 30px;
    margin: 0 auto;

    @include flex(flex,nowrap,jc_space_between);
    @include _flex_row(center,wrap);
    .footer-left{
      @include flex(flex,wrap);
      @include _flex_row(center,wrap);
      .f-logo{
        padding-right: 35px;
      }
      .f-menu{

        ul{
          @include flex(flex,wrap);
          li{
            a{
              font-weight:500;
              padding: 0px 12px;
              color: $white;
            }
          }
        }
      }
    }

    .footer-right{

      p,a{
        color: $grey1;
        font-size: 12px;
        line-height: 20px;
        text-align: right;
        &.copy{
          color: $white;
          font-size: 15px;
        }
      }
    }
  }
}



@media screen and (max-width: 1368px){

  .site-footer {
    padding: 62px 0;
    .footer-container{
      max-width: 1180px;
      .footer-left {
        .f-logo{
          img{
            max-width: 143px;
          }
        }
        .f-menu {
          ul {
            li {
              a{
                font-size: 12px;
              }
            }
          }
        }
      }

      .footer-right {
        p{
          font-size: 12px;
          &.copy{
            font-size: 13px;
          }
        }
      }

    }
  }

}




@media screen and (max-width: 1024px){

  .site-footer {
    .footer-container{
      .footer-left {
        .f-menu {
          display: none;
        }
      }
    }
  }

}



@media screen and (max-width: 600px){

  .site-footer {
    padding: 45px 0;
    .footer-container{
      @include flex(flex,wrap,jc_center);
      .footer-left {
        width: 100%;
        .f-logo{
          margin: 0 auto 15px;
          padding-right: 0px;
        }
      }
      .footer-right {
        width: 100%;
        p{
          text-align: center;
        }
      }
    }
  }

}