// pushes content below the admin bar
body.has-hero{
    main{

        padding-top: 0;
    }
}

// fffffffffffffffffffff
main{
    @if $topbar-position = fixed or $topbar-position = absolute{
        padding-top: $topbar-height;

        @include media-type(tablet){
            padding-top: $topbar-mobile-height;
        }
    }
}

#hero{
    height: 820px;

    @include bg-cover();
    @include flex(flex, row);
    align-items: center;

    h1{
        font-size: 64.9px;
        @include media-type(phone){

            font-size: 54.9px;
        }
        @include media-type(640px){

            font-size: 27.5px;
        }
    }
    h2{
        font-size: 43.9px;
    }
    .col.s10{
        padding: 0;
        @include media-type(420px){

            max-width: 100%;
            width: 100%;
            margin: 0 -15px !important;
        }
    }
    .col.s6{
        max-width: 675px;
    }
}

@mixin quotes(){
    .big-quotes{
        font-size: 238.76px;
        line-height: 1;
        font-family: 'ABeeZee';
    }
    .med-quotes{
        font-size: 124px;
        line-height: 1;
        font-family: 'ABeeZee';
    }
    .quotes{
        font-size: 52.49px;
        line-height: 1;
        font-family: 'ABeeZee';
    }
    .quote-icon{
        position: relative;
        display: block;
        padding: 10px 0;
        margin-bottom: 5px;
        &.med{
            & img{
                width: 30px;
            }
        }
    }
}

// for not in .general-content
@include quotes();

// have to include general content for font size priority
.general-content{
    @include quotes();
}

.animate{
    transform: translateY(35%);
    opacity: 0;
    transition: transform .8s ease-out, opacity .8s ease-in;
    .bar{
        &::after{
            width: 0;

            transition: width .9s ease-out;
            transition-delay: .4s;
        }
    }
    &.load{
        opacity: 1;
        transform: translateY(0%);
        .bar{
            &::after{
                width: 75%;
            }
        }

    }
}

.aos-init{
    transform: translateY(35%);
    opacity: 0;
    transition: transform .8s ease-out, opacity .8s ease-in;
    .bar{
        &::after{
            width: 0;

            transition: width .9s ease-out;
            transition-delay: .4s;
        }
    }
    &.aos-animate{
        opacity: 1;
        transform: translateY(0%);
        .bar{
            &::after{
                width: 75%;
            }
        }

    }
}

// NOTE: adminbar fix changes to position absolute for some reason
@include media-type(phone){
    html #wpadminbar{
        position: fixed;
    }
}


@mixin spacer(){
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}

@mixin spacer-type-50(){
    @include spacer();
    height: 50px;
}

@mixin spacer-type-60(){
    @include spacer();
    height: 60px;
}

@mixin spacer-type-70(){
    @include spacer();
    height: 70px;
}

@mixin spacer-type-80(){
    @include spacer();
    height: 80px;
}

@mixin spacer-type-90(){
    @include spacer();
    height: 90px;
}

@mixin spacer-type-100(){
    @include spacer();
    height: 100px;
}

// spacers can be used in place of margins or padding
// the purpose of these is to more easily make responsive changes to spacing
// between items.
// note: we might just write general spacer styles with 2 css . selectors
// to increase priority, because some of them will be inside of general content
// and therefore, .spacer might not be strong enough.
// we have to be careful here to use the right priority. in general don't
// increase this if possible, because particular sections will need
// to override them, and they might not be using very high priority.
.spacer{
    &.type-50{
        @include spacer-type-50();
    }
    &.type-60{
        @include spacer-type-60();
    }
    &.type-70{
        @include spacer-type-70();
    }
    &.type-80{
        @include spacer-type-80();
    }
    &.type-90{
        @include spacer-type-90();
    }
}






//PFI Shortcode common
@mixin animate-hide() {
    @include transition(all,0.1s);
    opacity: 0;
    width: 0 !important;
    overflow: hidden;
}
@mixin animate-show() {
    opacity: 1;
    width: auto !important;
}

@mixin a-hover-before() {
    font-size: 12px;
    position: relative;
    text-transform: uppercase;
    &:after{
        font-family: "fontawesome";
        position: absolute;
        content: "\f107";
        right: -30px;
        top: -2px;
        font-size: 18px;
        @include transition();
    }
    &:hover{
        &:after{
            top: 2px;
        }
    }
}



.pfi-shortcode{
    h1,h2,h3,h4,h5,h6,
    p,a,li{
        color: $white;
    }

    &.dark{
        h1,h2,h3,h4,h5,h6,
        p,a,li{
            color: $black2;
        }
    }
    
    &.text-left,.text-left{
        text-align: left;
    }
    &.text-center,.text-center{
        text-align: center;
    }
    &.text-right,.text-right{
        text-align: right;
    }

    p{
        font-size: 15px;
        font-weight: 500;
        line-height: 30px;
        @media screen and (max-width: 768px){
            font-size: 14px;
            line-height: 24px;
        }
    }

    h1{
        font-size: 54px;
        line-height: 62px;
        font-weight: 500;
        @media screen and (max-width: 1440px){
            font-size: 50px;
            line-height: 58px;
        }
        @media screen and (max-width: 1368px){
            font-size: 38px;
            line-height: 46px;
        }
        @media screen and (max-width: 1024px){
            font-size: 34px;
            line-height: 42px;
        }
        @media screen and (max-width: 600px){
            font-size: 32px;
            line-height: 38px;
        }
        @media screen and (max-width: 400px){
            font-size: 25px;
            line-height: 32px;
        }

    }

    .flex-center{
        position: relative;
        z-index: 1;
        height: 100%;
        @include flex(flex,wrap,ai_center);
    }

    .grey-overlay{
        z-index: 0;
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.62);
    }
}



.container-1220 {
    position: relative;
    width: 100%;
    max-width: 1260px;
    padding: 50px 30px;
    margin: 0 auto;

    .next-panel-animate{
        position: absolute;
        bottom: 45px;
        right: 40px;
        a{
            @include a-hover-before();
        }
    }
}
@media screen and (max-width: 1368px){
    .container-1220 {
        max-width: 940px;
    }
}
@media screen and (max-width: 1024px){
    .container-1220 {
        max-width: 830px;
    }
}



//JazzHR
#resumator-wrapper{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 40px 30px;
}
