
body.admin-bar{
    .site-header{
        top: 32px;
    }
}

.fixed-header-placeholder{
    height: 77px;
}

#main{
    position: relative;
    // if we dont need this maybe remove? just need header to be on top
    // is position relative sufficient for this ?
    z-index: 100;
}

.site-header{
    position: fixed;
    z-index: 50000;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;



    .menu-wrapper2{
        @include transition(0.3s);

        &.pages-menu-wrapper2{
            .wpml-ls-item{
                display: none;
            }
        }

        &.language-menu{
            padding-left: 50px;
            .menu-item{
                &:not(.wpml-ls-item) {
                    display: none;
                }
            }


            .wpml-ls-current-language{
                a{
                    color: $white3;
                }
            }
            //.wpml-ls-item-fr{
            //    &:before{
            //        top: 39%;
            //        content: "";
            //        left: 0;
            //        height: 22%;
            //        position: absolute;
            //        width: 2px;
            //        background: $blue-font;
            //    }
            //}

        }
    }

    nav.topbar{
        .nav-wrapper{

            .navtop-left{
                @include flex(flex,row,nowrap);
                .nav-logo{
                    @include transition(0.3s);

                    @media screen and (max-width: 768px){
                        width: 190px;
                    }
                    @media screen and (max-width: 360px){
                        width: 150px;
                    }

                }
                .nav-logo-svg{
                    //@include animate-hide();
                    position: relative;
                    opacity: 0;
                    width: 0 ;
                    overflow: hidden;
                    padding: 10px 0;
                    //img{
                    //    width: 100px;
                    //}
                    a{
                        position: absolute;
                        left:0;
                        top:0;
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            .nav{
                #nav-btn{
                    display: none;
                    @media screen and (max-width: 1024px){
                        display: block;
                    }
                }
            }
        }


        &.active {
            .nav-wrapper {
                .nav {
                    .menu-wrapper {
                        >.menu{
                            .menu-item{
                                order:2;
                            }
                            .wpml-ls-item{
                                order:1;
                            }
                        }
                    }
                }
            }
        }

    }


    //Scrolled Header
    &.scrolled{
        // box-shadow: 0 4px 7px 3px fade_in( black, .25 );
        background: none;
        &::after{
            opacity: 1;
        }

        .home-topbar{
            .hamburger-inner{
                background-color: $white;
                &:before,
                &:after{
                    background-color: $white;
                }
            }
        }

        & nav{
            &.topbar{
                //opacity: 0.9;
                @include media-type(tablet) {
                    opacity: 1;
                }

                background: none;


                &.home-topbar{
                    .language-menu{
                        li{
                            a{
                                color: $white;
                            }
                            &.wpml-ls-current-language{
                                a{
                                    color: $white3;
                                }
                            }
                        }
                    }
                }

            }
        }


        //Hide Main Menu on Scroll
        .menu-wrapper2{
            &.pages-menu-wrapper2{
                @include animate-hide();
            }
        }


        nav.topbar{
            @include transition(all, 0.3s);
            .nav-wrapper{

                .navtop-left{
                    .nav-logo{
                        display: none;
                    }
                    .nav-logo-svg{
                        //@include animate-show();
                        position: relative;
                        opacity: 1;
                        width: 73px;
                        @include bg-contain();
                    }
                }


                .nav{
                    #nav-btn{
                        display: block;
                    }
                }
            }

        }

    }


    &::after{
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 5px;
        //background: black;
        opacity: 0;
        //background: linear-gradient(to bottom, rgba(black, 0.22), rgba( black, 0 ));
        transition: all 0.3s;
    }

    .infobar{
        @if $show-infobar == false{
            display: none;
        }
        width: 100%;
        position: $infobar-position;
        ul{
            display: flex;
            justify-content: flex-end;
            width: 96%;
            height: 35px;
            margin: auto;
        }
        li:first-child{
            margin-right: 35px;
        }

        li{
            display: flex;

            a{
                display: flex;
                align-self: center;
                align-items: center;
                color: $white;
            }
        }
    }

}




@media screen and (max-width: 768px){

    .site-header {
        .menu-wrapper2{
            &.language-menu{
                padding-left: 30px;
            }
        }

        &.scrolled {
            nav.topbar {
                .nav-wrapper {
                    .navtop-left {
                        .nav-logo-svg{
                            width: 55px;
                        }
                    }
                }
            }
        }
    }


    nav.topbar{
        &.active {
            .nav-wrapper {
                .nav {
                    .menu-wrapper {
                        >.menu{
                            padding-top: 10px;
                        }
                    }
                }
            }
        }
    }


}




@media screen and (max-width: 360px){

    .site-header {
        .menu-wrapper2{
            &.language-menu{
                padding-left: 15px;
            }
        }
    }

}