.page-template-login{
  & .grid{
    background-color: #f4f4f4;
  }
  & .general-content{
    padding: 100px 20px;
    @include media-type(phone) {
      padding: 50px 20px;
    }
    & #login-register-password{
      & p{
        margin: 0 0 15px 0;
        padding: 0;
        color: #5a5a5a;
      }
      & .tab_container_login{
        & .tab_content_login{
          padding: 10px 0;
          & .login-error{
            color: map-get($palette, red);
          }
        }
      }
      & form{
        & .input{
          border: 1px solid #a5a5a5;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
        }
        & input.button{
          margin-top: 15px;
          position: relative;
          border: none;
          text-decoration: none;
          text-align: center;
          letter-spacing: unset;
          padding: .9rem 1.2rem;
          transition: .2s ease-out;
          border-radius: 5px;
          outline: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          display: inline-block;
          min-width: 130px;
          font-size: 16px;
          line-height: 16px;
          font-weight: 600;
          cursor: pointer;
          background: map-get($palette, red);
          color: white;
        }
        & .login-remember{
          & label{
            & input{
              -webkit-appearance: checkbox;
            }
          }
        }
      }
    }
    & .sidebox{
      & .userinfo{
        & a{
          color: map-get($palette, red);
        }
      }
    }
  }
}