//overlay mixin
$white2 : #f5f5f5;
$white3 : #c2c3c4;
$orange: #f7941e;
$blue-font : #023056;
$violet1 : #2f3b58;

$black2 : #0e0e0f;
$black3 : #1b1c1b;
$grey1 : #4e4e4e;
$grey2 : #ccc;
$green-animation : #01cbac;

// $orange_2: #f79928;

@mixin bg-video{
    position: absolute;

    top: 50%;
    left: 50%;

    min-width: 100%;
    min-height: 100%;

    transform: translate(-50%, -50%);
}

@mixin active-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@mixin margin-x($x, $x2: null){
    margin-left: $x;
    margin-right: if($x2 == null, $x, $x2);
}

@mixin margin-y($y, $y2: null){
    margin-top: $y;
    margin-bottom: if($y2 == null, $y, $y2);
}

@mixin padding-y($y, $y2: null){
    padding-top: $y;
    padding-bottom: if($y2 == null, $y, $y2);
}

@mixin padding-x($x, $x2: null){
    padding-left: $x;
    padding-right: if($x2 == null, $x, $x2);
}

@mixin absolute-center{
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@mixin bg-cover{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin bg-contain{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

@mixin overlay($color: $black, $a: .75, $color2: null, $a2: 0, $direction: to bottom, $p: 100%, $p2: 0%){
    position: absolute;
    left: 0;
    min-width: 100%;
    min-height: 100%;

    $color2: if($color2 == null, $color, $color2);

    background: linear-gradient($direction, rgba($color, $a) $p, rgba($color, $a2) $p2);
}

// @mixin gradient( $c1: map-get($palette, primary), $a: 1, $c2: map-get($palette, secondary), $a2: 1, $direction: "to right", $p: 0%, $p2: 100% ) {

//   background: linear-gradient($direction, rgba($c1, $a) $p, rgba($c2, $a2) $p2);
// }

@mixin gradient($direction: "to right", $a: 1, $a2: 1, $p: 0%, $p2:100%, $c1: map-get($palette, primary), $c2: map-get($palette, secondary) ){

    background: linear-gradient($direction, rgba($c1, $a) $p, rgba($c2, $a2) $p2);
}

// can pass in hex color, then opacity
// Horizontal gradient, from left to right
//
// Creates two color stops, start and end, by specifying a color and position for each color stop.
// Color stops are not available in IE9 and below.
@mixin gradient-horizontal($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%){
    background-image: -webkit-linear-gradient(left, $start-color $start-percent, $end-color $end-percent); // Safari 5.1-6, Chrome 10+
    background-image: -o-linear-gradient(left, $start-color $start-percent, $end-color $end-percent); // Opera 12
    background-image: linear-gradient(to right, $start-color $start-percent, $end-color $end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=1); // IE9 and down
}

@mixin posa( $width: 100%, $height: 100% ) {
    position: absolute;
    top: 0;
    left: 0;
    width: $width;
    height: $height;
}

@mixin posa-overlay( $op: 0 ){
    @include posa();
    background: black;
    opacity: $op;
}

// Vertical gradient, from top to bottom
//
// Creates two color stops, start and end, by specifying a color and position for each color stop.
// Color stops are not available in IE9 and below.
@mixin gradient-vertical($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%){
    background-image: -webkit-linear-gradient(top, $start-color $start-percent, $end-color $end-percent); // Safari 5.1-6, Chrome 10+
    background-image: -o-linear-gradient(top, $start-color $start-percent, $end-color $end-percent); // Opera 12
    background-image: linear-gradient(to bottom, $start-color $start-percent, $end-color $end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0); // IE9 and down
}

@mixin gradient-directional($start-color: #555, $end-color: #333, $deg: 45deg){
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient($deg, $start-color, $end-color); // Safari 5.1-6, Chrome 10+
    background-image: -o-linear-gradient($deg, $start-color, $end-color); // Opera 12
    background-image: linear-gradient($deg, $start-color, $end-color); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
}

@mixin gradient-horizontal-three-colors($start-color: #00b3ee, $mid-color: #7a43b6, $color-stop: 50%, $end-color: #c3325f){
    background-image: -webkit-linear-gradient(left, $start-color, $mid-color $color-stop, $end-color);
    background-image: -o-linear-gradient(left, $start-color, $mid-color $color-stop, $end-color);
    background-image: linear-gradient(to right, $start-color, $mid-color $color-stop, $end-color);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=1); // IE9 and down, gets no color-stop at all for proper fallback
}

@mixin gradient-vertical-three-colors($start-color: #00b3ee, $mid-color: #7a43b6, $color-stop: 50%, $end-color: #c3325f){
    background-image: -webkit-linear-gradient($start-color, $mid-color $color-stop, $end-color);
    background-image: -o-linear-gradient($start-color, $mid-color $color-stop, $end-color);
    background-image: linear-gradient($start-color, $mid-color $color-stop, $end-color);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0); // IE9 and down, gets no color-stop at all for proper fallback
}

@mixin gradient-radial($inner-color: #555, $outer-color: #333){
    background-image: -webkit-radial-gradient(circle, $inner-color, $outer-color);
    background-image: radial-gradient(circle, $inner-color, $outer-color);
    background-repeat: no-repeat;
}

@mixin gradient-striped($color: rgba(255,255,255,.15), $angle: 45deg){
    background-image: -webkit-linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
    background-image: linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
}

@mixin translate($x, $y){
    transform: translate($x, $y);
}

@mixin box-shadow($a: 0, $b: 4px, $c: 15px, $d: 0px, $opacity: .2 ){
    -webkit-box-shadow: $a $b $c $d rgba(0, 0, 0, $opacity);
    -moz-box-shadow: $a $b $c $d rgba(0, 0, 0, $opacity);
    box-shadow: $a $b $c $d rgba(0, 0, 0, $opacity);
}

@mixin box-shadow-1{
    @include box-shadow(0, 4px, 7px, 4px, .2);
}

@mixin btn-move-y($y:10%){
    transition: transform .3s, box-shadow .3s;
    &:hover{

        transform: translateY($y);
        box-shadow: 4px 5px 16px rgba(0, 0, 0, .4);
    }
}

@mixin _flex_row( $align: center, $wrap: wrap ){
    display: flex;
    flex-direction: row;
    flex-wrap: $wrap;
    align-items: $align;
}

@mixin _flex_col( $align: center, $wrap: nowrap ){
    display: flex;
    flex-direction: column;
    flex-wrap: $wrap;
    align-items: $align;
}

@mixin transition( $what: all, $t: 0.3s ){
    transition: $what $t;
}

@mixin flex-left( $align: center, $wrap: wrap ){
    @include _flex_row($align, $wrap);
    justify-content: flex-start;
}

@mixin flex-center( $align: center, $wrap: wrap ){
    @include _flex_row($align, $wrap);
    justify-content: center;
}

@mixin flex-right( $align: center, $wrap: wrap ){
    @include _flex_row($align, $wrap);
    justify-content: flex-end;
}

@mixin flex( $args... ){

    @each $arg in $args{

        @if $arg == flex{
            display: $arg;
        }
        @if $arg == iflex{
            display: inline-flex !important;
        }
        @if $arg == flexi{
            display: flex !important;
        } @else if $arg == wrap or $arg == nowrap{
            flex-wrap: $arg;
        } @else if $arg == wrapi{
            flex-wrap: wrap !important;
        } @else if $arg == nowrapi{
            flex-wrap: nowrap !important;
        } @else if $arg == row or $arg == row_reverse or $arg == column or $arg == column_reverse{
            @if $arg == row_reverse{
                flex-direction: row-reverse;
            } @else if $arg == column_reverse{
                flex-direction: column-reverse;
            } @else{
                flex-direction: $arg;
            }
        } @else if $arg == ai_center or $arg == ai_start or $arg == ai_end or $arg == ai_stretch or $arg == ai_baseline or $arg == ai_auto{

            @if $arg == ai_center{
                align-items: center;
            } @else if $arg == ai_start{
                align-items: flex-start;
            } @else if $arg == ai_end{
                align-items: flex-end;
            } @else if $arg == ai_stretch{
                align-items: stretch;
            } @else if $arg == ai_baseline{
                align-items: baseline;
            } @else if $arg == ai_auto{
                align-items: auto;
            } @else{
                align-items: $args;
            }

        } @else if $arg == as_center or $arg == as_start or $arg == as_end or $arg == as_stretch or $arg == as_baseline or $arg == as_auto{
            @if $arg == as_center{
                align-self: center;
            } @else if $arg == as_start{
                align-self: flex-start;
            } @else if $arg == as_end{
                align-self: flex-end;
            } @else if $arg == as_stretch{
                align-self: stretch;
            } @else if $arg == as_baseline{
                align-self: baseline;
            } @else if $arg == as_auto{
                align-self: auto;
            } @else{
                align-self: $args;
            }
        } @else if $arg == jc_center or $arg == jc_start or $arg == jc_end or $arg == jc_space_around or $arg == jc_space_between{
            @if $arg == jc_center{
                justify-content: center;
            } @else if $arg == jc_start{
                justify-content: flex-start;
            } @else if $arg == jc_end{
                justify-content: flex-end;
            } @else if $arg == jc_space_around{
                justify-content: space-around;
            } @else if $arg == jc_space_between{
                justify-content: space-between;
            } @else{
                justify-content: $args;
            }
        } @else if $arg == f-aic{
            display: flex;
            align-items: center;
        } @else if $arg == f-jcc{
            display: flex;
            justify-content: center;
        } @else if $arg == f-aic-jcc{
            display: flex;
            align-items: center;
            justify-content: center;
        } @else{
            display: flex;
        }
    }
}

@mixin split-row-container-lg($max-width){
    position: relative;
    width: 90%;
    max-width: 1365px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: $max-width){
        padding-left: 0;
        padding-right: 0;
        width: 88%;
    }
}

// NOTE: MEDIA QUERY MIXIN

@mixin media-type($media, $arg: max){
    @if $arg == max or $arg == min{
        $width: if(map_has_key($breakpoints, $media), map_get($breakpoints, $media), $media);

        @if $arg == max{
            // $width: $width - 1px;
        }
        @media only screen and (#{$arg}-width: $width){
            @content;
        }

    } @else{
        $min: $media;
        $max: $arg;
        // $max: $arg - 1;

        @media only screen and (min-width: $min) and (max-width: $max){
            @content;
        }
    }
}

@mixin font( $size, $relative_line_height: 6px ){
    font-size: $size;
    line-height: $size + $relative_line_height;
}

@mixin inherit(){
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    font-weight: inherit;
    color: inherit;
}
