/******************************************************************


	                A custom Reset for flex lovers.

	                            o  o
	                          --------

	        This is a real panty dropper if your into flexing...
	******************************************************************/


html,body {
	min-width: 100%;
	min-height: 100%;
	position: relative;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, main {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	//font: inherit;
	vertical-align: baseline;
}



/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
	display: $theme-display;
	flex-direction: $theme-flex-direction;
	width: 100%;
}

html, input, textarea, select, button  {
	font-family: $font-stack;
	box-sizing: border-box;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border: 0;
	position: relative;
  flex: 1 1 auto;
  min-width: 1%;
  margin-bottom: 0;
}

button, input, optgroup, select, textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

img {
	vertical-align: middle;
	border-style: none;
}

[type=reset], [type=submit], button, html [type=button] {
	-webkit-appearance: button;
}
button, select {
	text-transform: none;
}
button, input {
	overflow: visible;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {
	outline: none;

}
sup {
    vertical-align: super;
    font-size: smaller;
}
sub {
	vertical-align: sub;
	font-size: smaller;
}
a {
	text-decoration: $link-text-decoration;
}