

@mixin shortcode-v-padding(){
    padding: 90px 0;
    @media screen and (max-width: 1366px){
        padding: 75px 0;
    }
    @media screen and (max-width: 1024px){
        padding: 65px 0;
    }
    @media screen and (max-width: 500px){
        padding: 60px 0;
    }
}

.shortcode{
    &.v-padding{
        @include shortcode-v-padding();
    }
    &.dark{
        h2, h3, span, p{
            color: map-get($map: $palette, $key: grey);
            // text-shadow: 0px 2px 4px rgba(#000, .25);
        }
    }
    &.light{
        h1, h2, h3, span, p{
            color: $white;
            // text-shadow: 0px 2px 4px rgba(#000, .5);
        }
    }
}