.single {
  .features {
    .breadcrumbs {
      .crumb {
        & a, span {
          position: relative;
          z-index: 10;
          color: white;
          font-weight: 700;
          font-size: 14px;
          line-height: 20px;
        }
        & span {
          color: #58595b;
          font-weight: 400;
        }

      }

    }

    .hero {
      .overlay {
        @include overlay(map-get($palette, red));
      }
    }
    .top-lower-section {
      margin-top: 30px;
      margin-bottom: 60px;
      .image-container {
        figure {
          width: auto;
          & img {
            max-width: 100%;
            width: 100%;
            height: auto;
          }
        }
      }
    }

    .featured-img-container {
      top: unset;
      bottom: 0;
      min-height: 265px;

      figure {
        top: 0;
      }
      &:not(.top) {

        float: left;
        max-height: 565px;
        height: 565px;

        @include media-type(phone) {
          width: 100%;
          height: 400px;
          margin-bottom: 50px;
        }
        @include media-type(438px) {
          margin-bottom: 100px;
        }
        @include media-type(355px) {
          margin-bottom: 130px;
        }

        figure {
          top: -100px;
          right: 170px;
          max-width: 790px;
          width: 790px;
          max-height: 528px;
          height: 528px;

          @include media-type(phone) {
            left: 0;
            right: 70px;
            margin: auto;
            max-width: 275px;
            max-height: 275px;
          }
          @include media-type(phone) {
            top: 0;
          }

          .img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            @include bg-cover;
          }
        }

        .orange-box {
          position: absolute;
          bottom: -50px;
          right: -50px;
          width: 840px;
          height: 370px;
          background-color: map-get($palette, red);

          @include media-type(phone) {
            right: -40px;
          }
        }
      }
    }

    .bg-container {
      padding: 50px 0;
    }
    .section2 {
      margin-top: 200px;
    }
    & .top-featured-content {
      & p {
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        color: #262626;
        padding-bottom: 20px;
      }
    }
    & .middle-feature {
      position: relative;
      @include bg-cover;
      background-repeat: no-repeat;
      background-position: 50%;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
      }
      & .general-content {
        color: white;
        & * {
          color: white;
        }
        & ul {
          & li {
            font-size: 28px;
            font-weight: 300;
            line-height: 40px;
            padding-bottom: 10px;
          }
        }
        & p {
          font-size: 28px;
          font-weight: 300;
          line-height: 40px;
        }
      }
    }

  }
  & section {
    &.features {
      padding-bottom: 0;
    }
  }
}

