.single {

  .team {
    overflow: hidden;
    & .hero {
      & h3 {
        font-weight: 300;
      }
    }

    .top-lower-section {
      margin-top: 60px;
      margin-bottom: 60px;

      .featured-img-container {
        position: unset;
        top: unset;
        bottom: unset;
        margin: auto;
        padding: 0;
        max-width: unset;
        float: unset;
        figure {
          max-width: 280px;
          margin: auto;
          left: 0;
        }
        // left: 50%;
        // transform: translateX(-50%);
      }
    }
    .featured-img-container {

      top: 0;
      padding: 0;
      left: 0;
      right: unset;
      bottom: unset;
      min-height: 265px;
      margin: auto;
      width: 100%;
      max-width: 530px;
      height: 530px;
      max-height: 530px;

      @include media-type(phone) {
        width: 100%;
        max-width: 230px;
        height: 230px;
        max-height: 230px;
        left: unset;
        right: 50%;
        transform: translateX(50%);
      }
      @include media-type(tablet) {
        max-height: 405px;
      }
      @include media-type(570px) {
        max-width: 280px;
      }
      figure {
        top: 0;
        left: 0;
        max-width: 400px;
        max-height: 400px;
      }

    }

    .title-container {
      .med-quotes {
        margin-top: 45px;
      }
      .bar {
        width: 100%;
        margin-bottom: 10px;
        &:after {
          width: 200%;
        }
      }
      & .position {
        font-size: 24px;
        font-weight: 300;
        padding-left: 5px;
        padding-top: 5px;
        @include media-type(phone) {
          font-size: 20px;
        }
      }
    }
    & .quote-content{
      position: relative;
      padding-bottom: 15px;
      margin-bottom: 20px;
      font-family: "Century Regular", sans-serif;
      line-height: 28px;
      & p{
        font-size: 22px;
        color: #363636;
        margin-bottom: 15px;
        @include media-type(phone) {
          font-size: 18px;
        }
      }
      &::after{
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        height: 1px;
        width: 50%;
        background-color: #363636;
        opacity: 0.7;
      }
    }
    & .general-content{
      & p{
        font-size: 20px;
        font-weight: 400;
        @include media-type(phone) {
          font-size: 16px;
        }
      }
    }
  }
}

