.potential {
  overflow: hidden;

  .hero {
    position: relative;
    @include bg-cover;
    .overlay {
      @include overlay;
    }
    h2 {
      font-weight: 700;
    }
    h3 {
      font-size: 32px;
      line-height: 40px;
      font-weight: 300;
      &.slogan {
        max-width: 82%;
        margin: 0 auto;
        @include media-type(phone) {
          max-width: 100%;
        }
      }
    }
  }
  & .breadcrumbs{
    @include media-type(399px){
      display: none;
    }
  }
  & .content{
    & h1.title{
      font-size: 30px;
      line-height: 36px;
      margin-bottom: 40px;
      @include media-type(laptop) {
        font-size: 30px;
        margin-bottom: 20px;
      }
      @include media-type(phone) {
        font-size: 30px;
        margin-bottom: 20px;
      }
    }
    & h3{
      margin-bottom: 20px;
      font-weight: 700;
    }
    & p{
      font-size: 20px;
      padding-bottom: 20px;
      line-height: 30px;
    }
    & ul, ol{
      padding: 10px 0;
      margin-left: 20px;
      margin-bottom: 10px;
      & li{
        font-size: 20px;
        padding-bottom: 10px;
        line-height: 22px;
      }
    }
    & ul{
      list-style-type: square;
    }
    & ol{
      list-style-type: decimal;
    }
  }
  & .grid{
    &.header{
      & .container{
        padding-right: 0;
      }
    }
  }
  .featured-img-container {

    top: 0;
    padding: 0;
    left: 100px;
    right: unset;
    bottom: unset;
    min-height: 265px;
    margin: auto;
    width: 100%;
    max-width: 530px;
    height: 530px;
    max-height: 530px;

    @include media-type(phone) {
      width: 100%;
      max-width: unset;
      height: 230px;
      max-height: 230px;
      left: unset;
      right: 50%;
      transform: translateX(50%);
    }
    @include media-type(tablet) {
      max-height: 405px;
    }
    figure {
      top: 0;
      left: 0;
      max-width: 790px;
      width: 790px;

      @include media-type(laptop) {
        max-width: 605px;
      }
      @include media-type(phone) {
        width: 100%;
      }
      .img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include bg-cover;
      }
      .orange-box {
        position: absolute;
        bottom: -25px;
        left: -25px;
        width: 840px;
        height: 370px;
        background-color: map-get($palette, red);

        @include media-type(phone) {
          height: 315px;
        }
      }
    }

  }
}