.single {
  section {
    padding-bottom: 50px;
  }
  .breadcrumbs {
    position: relative;
    @include gradient(to right, 1, 1, 50%, 50%, #58595b, $white);
    & .container{
      &.flex{
        flex-flow: nowrap;
        @include media-type(637px) {
          flex-flow: wrap;
        }
      }
    }

    .crumb {
      position: relative;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      @include padding-x(0px, 35px);
      height: 25px;
      color: #fff;
      text-transform: capitalize;
      span {
        z-index: 1;
      }
      a {
        color: white;
      }
      & a, span {
        position: relative;
        z-index: 10;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
      }
      & span {
        font-weight: 400;
        white-space: nowrap;
      }
      &.home {
        background-color: #58595b;
        padding-left: 15px;
        &:after {
          content: none;
        }
        &:before {
          content: none;
        }
      }
      &.post-type {
        background-color: map-get($palette, red);
        padding-right: 50px;
      }
      &.post-name {
        color: map-get($palette, grey);
        background-color: $white;
        text-transform: none;
        @include media-type(tablet) {
          @include flex(ai_start);
        }
        @include media-type(637px) {
          padding: 10px 15px;
        }
        & span{
          white-space: normal;
        }
      }
      &.post-cat{
        & span{
          &::before {
            content: "";
            position: absolute;
            top: -3px;
            right: -60px;
            width: 25px;
            height: 30px;
            background-color: #fefefe;
            z-index: 1;
            box-shadow: -3px 0 0 #fefefe;
            transform: skewX(45deg);
            @include media-type(640px, min) {
              display: none;
            }
          }

          &::after {
            content: "";
            position: absolute;
            top: -3px;
            right: -60px;
            width: 25px;
            height: 100%;
            background-color: white;
            z-index: 1;
            box-shadow: -3px 12.5px 0 #fefefe;
            transform: skewX(-45deg);
            @include media-type(640px, min) {
              display: none;
            }
          }
        }
      }

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: -15px;
        width: 25px;
        height: 100%;
        box-shadow: $white -3px 12.5px 0px;
        transform: skewX(-45deg);
        background-color: inherit;
        z-index: 1;
      }
      &:before {
        content: '';
        box-shadow: $white -3px 0px 0px;
        position: absolute;
        top: 0;
        left: -15px;
        width: 25px;
        height: 100%;
        transform: skewX(45deg);
        background-color: inherit;
        z-index: 1;
      }
    }
  }

  .hero {
    min-height: 475px;
    margin-bottom: 5px;
    position: relative;
    @include bg-cover;
    // background-image: url();
    .overlay {
      @include overlay;
    }
    h2 {
      text-transform: capitalize;
    }
    & h3 {
      &.subtitle {
        font-weight: 300;
        padding-top: 20px;
      }
    }
  }

  .featured-img-container {
    position: relative;
    right: 0;
    top: 0;

    float: right;

    min-width: 50%;
    max-height: 410px;

    padding-top: 35%;

    @include media-type(phone) {
      width: 100%;
      margin-bottom: 50px;
    }
    @include media-type(438px) {
      margin-bottom: 100px;
    }
    @include media-type(355px) {
      margin-bottom: 130px;
    }

    figure {
      position: absolute;
      top: -70%;
      right: 0;

      width: 100%;
      height: 100%;
      max-width: 475px;
      max-height: 475px;

      @include media-type(phone) {
        left: 0;
        margin: auto;
        max-width: 275px;
        max-height: 275px;
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  & .potential{
    & .grid{
      & .container{
        & .row{
          & .content{
            @include media-type(399px) {
              padding-right: 30px;
            }
          }
        }
      }
      & .featured-img-container{
        & figure{
          & .orange-box{
            @include media-type(639px) {
              display: none;
            }
          }
        }
      }
    }
  }
}

