.single{

    .testimonials{

        .med-quotes{
            position: absolute;
            bottom: -73px;

            @include media-type(phone){
                display: none;
            }
        }
        .status{
            width: 100%;
            margin-bottom: 110px;
        }

        .stars{
            color: #58595b;

            $index: 1;

            @for $index from 1 to 6{

                & .fa-star:nth-child( #{$index} ){

                    transition-delay: #{$index / 2}s;
                }
            }

            .fa-star{
                position: relative;
                .star{
                    position: absolute;
                    top: -1px;
                    left: 0;

                    width: 100%;
                    height: 100%;
                    margin: auto;

                    transform: scale(1);
                    transition: transform .3s cubic-bezier(0, 0, 0.71, 2.21);

                    &:not(.show){
                        transform: scale(0);

                    }
                }
            }
        }

    }

}

