
@mixin mobile-menu-type {
  

  @if $mobile-menu-type == default {
  
  
    .temp-bar {
      background-color: map-get($palette, transparent) !important;
    }
  
    .nav-wrapper {
  
      .nav {
  
        & > .menu {
          padding-top: 0;
        }
      }
    }
  
    &.active {
  
      .nav-logo {
        opacity: 1;
        transition: opacity linear 1s; //had important
      }
      .temp-bar {
        transition-delay: .3s;
        background-color: $topbar-mobile-menu-backround !important;
      }
      .nav-wrapper {
        .nav {
          .menu-wrapper {
            height: 100vh;
            transition: height linear .3s; //had important
            opacity: 1;
            visibility: visible;
  
            & > .menu {
              padding-top: $topbar-mobile-height;
              & li {
                opacity: 1;
                visibility: visible;
                //display: block;
              }
            }
          }
        }
        .menu {
          // height: 100vh!important;
          // transition: all .3s ease-in;
  
        }
      }
    }
    &.sticky {
      .nav-logo {
        opacity: 1;
        transition: opacity linear 1s!important;
      }
    }
  }
  
  
  // NOTE: still in topbar
  // NOTE: styles when button clicked
  // NOTE: if bubble effect was chosen
  @if $mobile-menu-type == bubble {
  
  
  
      .nav {
        justify-content: flex-end;
        align-items: flex-start;
        position: absolute;
        top: 0;
        right: 0;
        height: 98px;
        width: 98px;
        border-radius: $hamburger-border-radius;
        background-color: map-get($palette, red);
        transition: all 800ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
  
        .menu:first-child {
          visibility: hidden;
          transition-delay: 0ms;
  
        }
      }
  
      &.active { // when button click
        position: fixed;
  
        @media screen and (max-width: 850px) and (max-height: 420px) {
          & .nav > .menu {
            transition: all 800ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            transition-delay: 0;
            position: absolute;
            top: 98px;
            left: 45px;
            margin-top: 0!important;
            margin-bottom: 0!important;
            margin-left: 0!important;
          }
        }
        .nav-logo {
          display: block;
        }
        &.border-radius {
          .nav {
            transition: all 800ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            border-radius: 0;
          }
        }
        #nav-btn {
          position: fixed;
          top: 0;
          right: 0;
          height: 98px;
        }
        .temp-bar {
          transition-delay: 800ms;
          background-color: map-get($palette, red) !important;
        }
  
        .active-item {
  
        }
        .nav {
          width: 100%;
          height: 100vh;
          align-items: center;
          justify-content: flex-start;
          overflow-y: auto;
  
          .menu:first-child {
            margin-top: 20%;
            margin-bottom: 10%;
            visibility: visible;
            transition-delay: 600ms;
            margin-left: 10%;
            flex-direction: column;
            justify-content: flex-start;
          }
        }
      }
  }
}
