// so sorry about the navigation it's a mess LMAO

// Styles for topbar navigation
// @media screen and (min-width: 1025px) {
// nav.topbar .nav-wrapper .nav .menu li .focus-within>.menu, nav.topbar .nav-wrapper .nav .menu li:hover>.menu {
//     display: -ms-flexbox;
//     display: flex;
//     left: 0;
//     width: auto;
//     height: auto;
//     overflow: visible;
//     box-shadow: 0 2px 2px 0 #e3e3e3;
// }
// }
// topbar > nav-wrapper > nav > menu
body{
  &.navactive{
    @include media-type(tablet) {
      overflow: hidden;
    }
  }
}
nav.topbar {
  flex-direction: $topbar-flex-direction;
  justify-content: $topbar-justify-content;
  align-items: $topbar-align-items;

  top: $topbar-top;

  background: $topbar-background;

  max-width: $topbar-max-width;
  width: 100%;

  @include padding-x($topbar-padding-x);

  z-index: 999;

  a {
    height: $nav-link-height;
    width: 100%;
    color: $nav-link-color;
    font-size: $nav-link-font-size;
    text-decoration: $nav-link-text-decoration;
    &.desc {
      color: map-get($palette, red);
    }
    &.desc:hover {
      background-color: transparent;
      color: map-get($palette, red);
    }
    @if $topbar-mobile-menu-trigger-width == all {

      color: $nav-link-color;
      height: auto;

    } @else {

      @include media-type($topbar-mobile-menu-trigger-width) {
        color: $nav-link-color;
        height: auto;
      }
    }
  }

  .nav-wrapper {
    display: flex;
    justify-content: $nav-wrapper-justify-content;
    flex-direction: $nav-wrapper-flex-direction;

    // max-width: $nav-wrapper-max-width;
    width: 100%;
    height: $topbar-height;
    // height: 100%;

    .nav{
      a{
        color: $blue-font;
        font-weight: 600;
      }
    }

    @if $topbar-mobile-menu-trigger-width == all {

      justify-content: $nav-wrapper-justify-content-mobile;

      height: $topbar-height;
      width: $nav-wrapper-width-mobile;

    } @else {
      @include media-type($topbar-mobile-menu-trigger-width) {
        justify-content: $nav-wrapper-justify-content-mobile;

        height: $topbar-mobile-height;
        width: $nav-wrapper-width-mobile;
      }
    }
    .temp-bar {
      background-color: transparent;
      display: none;
    }
    @media screen and (min-width: 1025px) {
      .temp-bar {
        z-index: 0 !important;
        display: none;
      }
    }

    .nav-logo {
      background-repeat: no-repeat;
      background-size: contain;
      display: $nav-logo-display;
      width: $nav-logo-width;
      background-position: $nav-logo-bg-position;
      margin: $nav-logo-margin;
      z-index: 999;
      overflow: hidden;
      // transition: all .5s cubic-bezier(0.4, 0, 1, 1);
      @if $topbar-mobile-menu-trigger-width == all {

        margin: $nav-logo-margin-mobile; //set to 100% if you want the nav btn to touch the edge
        display: $nav-logo-display-mobile;
        width: $nav-logo-width-mobile;

      } @else {

        @include media-type($topbar-mobile-menu-trigger-width) {
          margin: $nav-logo-margin-mobile; //set to 100% if you want the nav btn to touch the edge
          display: $nav-logo-display-mobile;
          width: $nav-logo-width-mobile;

        }
      }
      @include media-type(desktop) {
        background-position: 0;
      }
      @include media-type(1080px) {
        //width: 145px;
      }

      &.img-only {

        @if $topbar-mobile-menu-trigger-width == all {

          display: none !important;

        } @else {

          @include media-type($topbar-mobile-menu-trigger-width) {
            display: none !important;
          }
        }
        a {
          white-space: nowrap;
          text-indent: -9999px;
        }
      }
      a {
        justify-content: $nav-logo-justify-center;

      }
    }

    .nav {
      display: $nav-display;
      align-items: $nav-align-items;

      a {
        // NOTE: to center and grow links
        align-items: center;
        display: flex;
      }
      .menu-wrapper {
        opacity: 0;
        visibility: hidden;
        display: flex;
        width: 100%;
        transition: height linear .3s; // had important
        //overflow: -moz-scrollbars-none;
        //overflow: auto;
        @include media-type (tablet) {
          overflow: -moz-scrollbars-none;
        }
        @if $topbar-mobile-menu-trigger-width == all {
          position: absolute;
          top: 0;
          left: 0;
          height: 0;
          background: $topbar-background;
        } @else {
          @include media-type($topbar-mobile-menu-trigger-width) { // this must be revised
            overflow: hidden;
            overflow-y: auto;
            position: absolute;
            top: 0;
            left: 0;
            height: 0;
            background: $topbar-background;
          }
        }
        & > .btn-container {
          padding: $nav-link-btn-container-padding;
          display: $nav-link-btn-display;
          align-items: center;
          a {
            font-weight: $nav-link-btn-font-weight;
            font-size: $nav-link-btn-font-size;
            height: $nav-link-btn-height;
            @include padding-x($nav-link-btn-padding-x);
          }
        }

        .menu {
          display: inherit;
          flex-direction: $menu-flex-direction;
          list-style: none;
          @if $topbar-mobile-menu-trigger-width == all {
            @include flex(flex, column);
            background: $topbar-mobile-menu-backround;
            width: 100%;
            height: 100vh; // so that it can grow
            position: absolute;
            top: $topbar-mobile-height;
            left: 0;
            transition: all .3s ease-in;
          } @else {
            @include media-type($topbar-mobile-menu-trigger-width) { // this must be revised
              @include flex(flex, column);
              background: $topbar-mobile-menu-backround;
              width: 100%;
              height: 100vh; // so that it can grow
              position: absolute;
              top: $topbar-mobile-height;
              left: 0;
              transition: all .3s ease-in;
            }
          }

          li {
            display: flex;
            position: relative;
            opacity: 0;
            visibility: hidden;
            transition: opacity .2s ease-in;
            &::before {
              content: none;
            }
            &.wpml-ls-item-fr,
            &.wpml-ls-item-en{
              @include media-type(tablet, min) {
                display: none;
              }
            }
            &.menu-item-has-children {
              &::before {
                content: "\f053";
                position: absolute;
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                top: 15px;
                left: 15px;
                font-size: 12px;
                transition: color 0.3s ease-in, left 0.3s ease-in;
                @include media-type(tablet) {
                  display: none;
                }
              }
            }
            & > ul {
              position: absolute;
              top: 0;
              right: 110%;
              opacity: 0;
              visibility: hidden;
              background: white;
              transition: all .3s ease-in;
              width: 100%;
              @include media-type(tablet) {
                position: relative;
                display: none;
                top: auto;
                right: auto;
                opacity: 1;
                visibility: visible;
              }
              & li {
                display: block;
                &:last-child{
                  padding-bottom: 0 !important;
                }
                &[id^=menu-item] {
                  & a {
                    justify-content: flex-start;
                    @include media-type(tablet) {
                      justify-content: center;
                    }
                  }
                }
              }
            }
            & .toggle-submenu{
              padding: 5px 0;
              display: block;
              @include media-type(tablet, min) {
                display: none;
              }
            }
            &:hover {
              &.menu-item-has-children {
                &::before {
                  color: $hamburger-layer-color;
                  left: 12px;
                }
              }
              & > ul {
                @include media-type(tablet, min) {
                  display: block;
                  opacity: 1;
                  right: 100%;
                  visibility: visible;
                  z-index: 10;
                }
              }
            }
            @media screen and (min-width: 1025px) {
              .menu {
                // box-shadow: 0px 2px 2px 0px #e3e3e3;
              }
              &::focus-within {
                .menu {
                  display: flex;
                  top: 100%;
                  left: 0;
                  width: auto;
                  height: auto;
                  a {
                    height: auto;
                    outline-width: 5px;
                    &:focus, &:hover {
                      background-color: $nav-link-hover-bg;
                      color: $nav-link-hover-color;
                      outline: 0;
                    }
                  }
                }
              }
              &:hover, .focus-within {
                .menu {
                  display: flex;
                  left: 0;
                  width: auto;
                  height: auto;
                  top: 100%;
                  a {
                    height: auto;
                    outline-width: 5px;
                    &:focus, &:hover {
                      background-color: $nav-link-hover-bg;
                      color: $nav-link-hover-color;
                      outline: 0
                    }
                  }
                }
              }
            }
            // li mobile
            @if $topbar-mobile-menu-trigger-width == all {
              &.focus-within, &.active-item {
                .menu {
                  padding-left: 2rem;
                  height: auto;
                  width: auto;
                  a {
                    font-size: $p-font-size;
                  }
                }
              }
            } @else {
              @include media-type($topbar-mobile-menu-trigger-width) {
                &.focus-within, &.active-item {
                  .menu {
                    padding-left: 2rem;
                    height: auto;
                    width: auto;
                    a {
                      font-size: $p-font-size;
                    }
                  }
                }

              }
            }

            a {
              padding: $nav-link-padding;
              text-transform: $nav-link-text-transform;
              font-weight: $nav-link-font-weight;
              letter-spacing: $nav-link-letter-spacing;
              justify-content: $nav-link-justify-content; // because it's set to center
              // text-align: left; // align text
              transition: color .3s;
              &:focus, &:hover {

                background-color: $nav-link-hover-bg;
                color: $nav-link-hover-color;
                outline: 0;

              }
              // NOTE: FIX CAUSE IT USE TO BE 1700
              @include media-type(laptop) {
                padding: $nav-link-padding-laptop;
              }
              @include media-type(tablet) {
                font-size: $h2-font-size-phone;
              }
              @include media-type(phone) {
                font-size: 20px;
              }
            }

            // for menu dropdown
            .menu {
              flex-direction: column;
              background-color: $submenu-bg-color;
              position: absolute;
              top: 90px;
              min-width: 200px;
              // display: none;
              //for AA
              left: -10000px;
              top: auto;
              width: 1px;
              height: 1px;
              overflow: hidden;

              @include media-type(tablet) {
                background-color: map-get($palette, red);
                position: static;
                a {

                  font-size: $h2-font-size;
                }
              }
            }

          }
        }
      }

      .nav-btn-link {
        height: $nav-btn-height;
        padding: $nav-btn-padding;
        max-width: $nav-btn-max-width;
        width: $nav-btn-width;
        transform: none;
        @include media-type(tablet, min) {

          position: $nav-btn-postion;
          right: $nav-btn-right;
        }
      }

      #nav-btn {
        background-color: $hamburger-bg-color;
        display: $hamburger-display-desktop;
        border-radius: $hamburger-border-radius;
        z-index: 999;
        @include media-type(phone) {
          padding: 25px 10px;
        }

        @if $topbar-mobile-menu-trigger-width == all {

          display: $hamburger-display-mobile;

        } @else {

          @include media-type($topbar-mobile-menu-trigger-width) {
            display: $hamburger-display-mobile;
          }
        }
      }

    }


     @media screen and (max-width: 1024px){
      height: 77px !important;
    }


  }

  // NOTE: still in topbar
  // NOTE: styles when button clicked
  // NOTE: if set to default
  @if $topbar-mobile-menu-trigger-width == all {

    @include mobile-menu-type;
    .menu-wrapper {
      //top: 98px !important;
    }

    @include media-type(tablet) {
      .site-header {
        &.scrolled {
          nav.topbar {
            & .nav-wrapper {
              height: 68px;
            }
          }
        }
      }
      .pages-menu-wrapper2{
        display: none;
      }

      .menu-wrapper2 {

      }
      .menu-wrapper {
        top: 77px !important;
        min-height: calc(100vh - 90px);
        //height: 100% !important;
        overflow-y: auto;
        -ms-flex-direction: column;
        -webkit-flex-flow: column nowrap;
        flex-flow: column nowrap;
        padding: 20px;
        & form {
          width: 100%;
          max-width: 400px;
          background-color: #FFFFFF;
          margin: 0 auto;
          padding: 0 10px 10px;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: -moz-box;
          display: flex;
          -ms-flex-direction: row;
          -webkit-flex-flow: row nowrap;
          flex-flow: row nowrap;
          -webkit-justify-content: space-between;
          justify-content: space-between;
          & .screen-reader-text {
            display: none;
          }
          & label {
            width: calc(100% - 50px);
            margin-right: 10px;
          }
          & input[type="search"] {
            border: 1px solid #d6d6d6;
            display: block;
            padding: 10px;
            font-size: 16px;
            line-height: 1;
            color: #262626;
            background-color: #fff;
            background-clip: padding-box;
            border-radius: 0;
            width: 100%;
            transition: border-color .15s;
          }
          & .search-submit {
            background-color: map-get($palette, red);
            -webkit-appearance: none;
            width: 40px;
            height: 40px;
            transition: background-color 0.3s;
            font-family: FontAwesome, sans-serif;
            color: #FFFFFF;
          }
        }
        & #menu-main-menu,
        & #menu-main-menu-fr{
          max-width: 400px;
          top: 20px;
          padding-top: 10px;
          position: relative;
          margin: 0 auto;
          width: 100%;
          min-height: calc(100% - 200px);
          height: 100%;
          & li {
            display: block;
            &:last-child {
              padding-bottom: 30px;
            }
            & + li {
              margin-top: 10px;
            }
            &.menu-item-has-children {
              position: relative;
              &::before {
                display: none;
              }
              & .toggle-submenu {
                font-family: FontAwesome, sans-serif;
                color: #000000;
                position: absolute;
                z-index: 20;
                right: 0;
                top: 3px;
                font-size: 30px;
                padding: 5px 20px;
                -webkit-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                transform: rotate(0deg);
                transition: all 0.3s;
                cursor: pointer;
                @include media-type(phone) {
                  font-size: 20px;
                }
                &.open {
                  -webkit-transform: rotate(-180deg);
                  -ms-transform: rotate(-180deg);
                  transform: rotate(-180deg);
                  color: map-get($palette, blue);
                  transition: all 0.3s;
                }
              }
              & .sub-menu {
                display: none;
                position: static;
                padding: 15px 10px;
                visibility: visible;
                opacity: 1;
                & li {
                  & a {
                    font-size: 24px;
                    @include media-type(phone) {
                      font-size: 16px;
                    }
                  }
                }
              }
            }
            & a {
              padding: 0.5rem;
            }
          }
        }
      }
    }
    @include media-type(1025px, min) {
      .nav-wrapper {
        position: relative;
        & .nav {
          .menu-wrapper {
            top: 77px;
            width: 207px;
            left: unset;
            right: 15px;
            max-height: 0px;
            transition: max-height .8s ease;
            @include flex(column, nowrap);
            & form {
              padding: 0 10px 10px;
              height: 45px;
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: -moz-box;
              display: flex;
              -ms-flex-direction: row;
              -webkit-flex-flow: row nowrap;
              flex-flow: row nowrap;
              -webkit-justify-content: space-between;
              justify-content: space-between;
              & .screen-reader-text {
                display: none;
              }
              & label {
                width: calc(100% - 50px);
                margin-right: 10px;
              }
              & input[type="search"] {
                border: 1px solid #d6d6d6;
                display: block;
                padding: 10px;
                font-size: 16px;
                line-height: 1;
                color: #262626;
                background-color: #fff;
                background-clip: padding-box;
                border-radius: 0;
                width: 100%;
                transition: border-color .15s;
              }
              & .search-submit {
                background-color: map-get($palette, red);
                -webkit-appearance: none;
                width: 40px;
                height: 40px;
                transition: background-color 0.3s;
                font-family: FontAwesome, sans-serif;
                color: #FFFFFF;
              }
            }
            & .menu {
              padding-top: 0;
              height: auto;
              position: unset;
              & [id^='menu-item'] {
                a {
                  justify-content: flex-end;
                  padding: 10px 20px;
                }
              }
            }

          }
        }
      }
      &.active {
        & .nav-wrapper {
          & .nav {
            & .menu-wrapper {
              //max-height: 2000px;
              //height: auto;
              //@include padding-y(10px);
              & .menu {
                padding-top: 0;
              }
            }
          }
        }
      }

    }

  } @else {

    @include media-type($topbar-mobile-menu-trigger-width) {
      @include mobile-menu-type;
    }
  }

  .menu-wrapper2 {
    height: 100%;
    & > ul {
      height: 100%;
      display: flex;
      align-items: center;

      & > li {
        height: 100%;
        position: relative;

        &.btn {
          height: auto !important;
          width: 106px;
          margin-left: 35px;
          margin-right: 20px;
          color: #ffffff;
          a {
            display: block;
            padding: 0 !important;
          }
        }
        a {
          height: 100%;
          padding: 20px 15px;
          transition: color 0.3s;

        }
        & ul.sub-menu{
          position: absolute;
          top: 110%;
          left: 0;
          width: 100%;
          opacity: 0;
          visibility: hidden;
          -webkit-transition: top 0.3s;
          -moz-transition: top 0.3s;
          -ms-transition: top 0.3s;
          -o-transition: top 0.3s;
          transition: top 0.3s;
          background: white;
          z-index: 100;
          & li{
            display: block;
            text-align: center;
            & a{
              display: block;
              padding: 10px;
              height: auto;
            }
          }
        }
        &:hover{
          &.btn{
            & a{
              color: white;
            }
          }
          & a{
            color: map-get($palette, blue);
          }
          & ul.sub-menu{
            top: 100%;
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }

}

// end of mobile trigger
