
// NOTE: BUTTON SETTINGS

// 1. BACKGROUND
$btn-bg: transparent !default;

// 2. FONT
$btn-text-color: $white !default;
$btn-text-align: center;
$btn-letter-spacing: unset;
$btn-text-transform: capitalize;
$btn-font-size: 16px;
$btn-line-height: 16px;
$btn-font-weight: 600;

// 3. BORDER
$btn-border: none;
$btn-border-radius: 5px !default;
$btn-border-color: black !default;
$btn-border-width: 0 !default;


// 3. SETTINGS
$btn-appearance: none;
$btn-outline: s; //pass in a bad value to set value to default
$btn-margin: 1rem 2rem !default;
$btn-padding: 1.2rem 1.3rem;
$btn-display: inline-block;


// NOTE: nav-btns
$nav-btn-height: 53px;
$nav-btn-padding: 1rem;
$nav-btn-max-width: 270px;
$nav-btn-width: auto;
$nav-btn-postion: absolute;
$nav-btn-right: 25px;
